.obyava {
	width:100%;
	background-color:#ff0303;
	float:left;
	margin-top:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:5px;
	text-align:center;
	
}


.mask{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.38);
  display:none;
  height:100%;
  width: 100%;
  z-index:10;
}

#bron_main_div {
	position:absolute;
	left:155px;
	top:300px;

	width:550px;
	background-color:#3ba1c8;
	z-index:10;
	color:#FFF;
	display:none;
	font-size:14px;
	font-family:verdana, sans-serif;
	font-weight:bold;
	padding:15px;
	border:none;

	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px;
	-khtml-border-radius:15px;	
	
}


.br_info_div{
	position:relative;
}

.br_cont_1 {
	width:576px;/*=4 дня по 24*6 пикселов; 1 день = 144 */
	height:80px;
	background-color:#ff9a81;
	position:relative;
	margin:0;
	padding:0;
	border:none;
}

.br_wh_cont {
	background-color:#FFF;
	padding:10px;
}

.br_main_div {
	z-index:7;
	position:absolute;
	top:0px;
	right:-310px;
	background-color:#00a1d3;
	padding:20px;
	
	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px;
	-khtml-border-radius:15px;	
}

.br_cont {
	width:432px;/*=3 дня по 24*6 пикселов; 1 день = 144 */
	height:80px;
	background-color:#F60;
	position:relative;
	margin:0;
	padding:0;
	border:none;
}

.br_day {
	position:absolute;
	top:40px;
	
	text-align:center;
	
	border-style:solid;
	border-color:#FFF;
	border-width:0 1px 0 1px;
	
	width:142px; /*минус 2 пкс на границу*/
	height:40px;
	float:left;
	margin:0;
	padding:0;
}
.br_day_name {
	text-align:center;
	background-color:#FFF;
	color:#00a3d8;

	position:absolute;
	top:0;
	width:144px; /*нет минус 2 пкс на границу*/
	height:40px;
	margin:0;
	padding:0;
}

.br_free_div {
	opacity:0.8;
	z-index:2;
	text-decoration:none;
	color:#000;
	display:block;
	height:40px;
	background-color:#00c400;
	
	position:absolute;
	top:40px;
}

.br_free_h_left {
	position:absolute;
	top:0;
	left:0;
}

.br_free_h_right {
	position:absolute;
	bottom:0;
	right:0;
}










#container {
     
    
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position:relative;
	
}

#header {
	float: left;
	height: 272px;
	width: 950px;
	border-bottom: 1px solid #cfcfcf;

	
}

.prokat_addr {
	width:200px;
	height:245px;
	float:left;
	position:relative;
	margin-top: 10px;
	margin-right: 40px;
}

.addr_1_div {
	position:absolute;
	top:0px;
	right:0px;
	width:200px;
	height:65px;
	
	
	background-color:#00adef;
	
	font-family:UbuntuBold;
	color:#ffffff;
	
	border-width: 1px;
	border-style: solid;
	border-color:#00adef;

	border-radius:4px; 
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	-khtml-border-radius:4px;	
}

.addr_2_div {
	position:absolute;
	top:72px;
	right:0px;
	width:200px;
	height:65px;
	
	
	background-color:#00adef;
	
	font-family:UbuntuBold;
	color:#ffffff;
	
	border-width: 1px;
	border-style: solid;
	border-color:#00adef;

	border-radius:4px; 
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	-khtml-border-radius:4px;	
}

.addr_3_div {
	position:absolute;
	top:144px;
	right:0px;
	width:200px;
	height:65px;
	
	
	background-color:#00adef;
		color:#ffffff;
	
	border-width: 1px;
	border-style: solid;
	border-color:#00adef;

	border-radius:4px; 
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
}

.addr_text_1 {
	position:relative;
	left:35px;
	padding:0 5px 0 35px;;
	margin:0;
	font-family:UbuntuRegular;
	font-size:16px;
	width:180px;
}



.addr_text_2 {
	position:relative;
	left:55px;
	padding:0 5px 0 5px;;
	margin:0;
	font-family:UbuntuBold;
	font-size:18px;
	width:180px;
}


.addr_text_3 {
	position:relative;
	left:57px;
	padding:0 5px 0 5px;;
	margin:0;
	font-family:UbuntuMedium;
	font-size:18px;
	width:180px;
}

.adr_house {
	position:absolute;
	top:18px;
	left:-25px;	
}

.h_addr {
	position:absolute;
	left:520px;
	top:75px;
    color:#7bb6e7;
}

.segodna{
	position:absolute;
	top:95px;
	left:305px;
    text-align: left;
    color:red;
	font-size:22px;
	font-family: verdana, sans-serif;
	
}
.attention {
	position:absolute;
	top:65px;
	left:305px;
    text-align: left;
    color:red;
	font-size:30px;
	font-family: verdana, sans-serif;
	
}


.h_addr a{
	color:#00a0d0;
	font-size:14px;
}


.header_text_left {
	position:absolute;
	top:40px;
	right:0px;

}
.header_text_left a {
	color:#7bb6e7;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
}

.header_text {
	position:absolute;
	top:15px;
	right: 0px;
	text-align: right;
	color:#00a0d0;
	font-size:30px;
	font-family: Ubuntubold;
	font-weight:bold;
}

.header_slogan {
	position:absolute;
	top:83px;
	right: 0px;
	text-align: right;
	color:#00a0d0;
	font-size:20px;
	font-family: UbuntuRegular;
}

.header_phone {
	position:absolute;
	top:120px;
	right: 0px;
	text-align: right;
	color:#ff3333;
	font-size: 72px;
	font-family: Ubuntubold;
}

.header_operators {
	position:absolute;
	top:195px;
	right: 8px;
	text-align: right;
	color:#00a0d0;
	font-size:20px;
	font-family: UbuntuMedium;
	font-weight: bold;
}

#header_text_name {
		position:relative;
		top:-5px;
        text-align: right;	
        color:#7bb6e7;
	font-size:32px;
	font-family: verdana, sans-serif;


}


#nov_7 {
position:absolute;
top:30px;
right:0px;
color:red;
font-size:28px;
font-family:verdana, sans-serif;
}




#header_text {
	position:absolute;
	top:166px;
	left:37px;
	color:#00a0d0;
	font-size:17px;
	font-family:'Semibold';
}

#header_text_v0 {
	position:absolute;
	top:154px;
	left:50px;
	color:#00a0d0;
	font-size:26px;
	font-family:'Semibold';
}


#header_text_v1 {
	position:absolute;
	top:158px;
	left:356px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_m1 {
	position:absolute;
	top:158px;
	left:589px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_g1 {
	position:absolute;
	top:158px;
	left:819px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_v1k {
	position:absolute;
	top:168px;
	left:356px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_m1k {
	position:absolute;
	top:168px;
	left:589px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_g1k {
	position:absolute;
	top:168px;
	left:819px;
	color:#00a0d0;
	font-size:16px;
	font-family:'Semibold';
}

#header_text_z1 {
	position:absolute;
	top:120px;
	left:53px;
	color:#00a0d0;
	font-size:17px;
	font-family:'Semibold';
}

#deviz {
	width:500px;
	background-color:#7580d9;
	color:#FFF;
	font-weight:bold;
	font-size:24px;
	padding: 5px 20px;
	margin:0 auto;
	text-align: center;
	
	clear:right;

	border:none;
	
	border-radius:20px; 
	-webkit-border-radius:20px; 
	-moz-border-radius:20px;
	-khtml-border-radius:20px;	
	
}


#stih1 {
width: 292px;
float: left;
padding: 20px 0px 20px 20px;
color: #00a0d0;
font-style:italic;
}


#stih2 {
width: 292px;
float: left;
margin-left: 20px;
padding: 20px 20px 20px 20px;
color: #00a0d0;
font-style:italic;
}


#footer {
	float: left;
	width: 930px;
	background-color: white;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00a0d0;
}


#footer_1 {
	float: left;
	width: 600px;
	background-color: white;
	
}

#footer_2 {
	float: left;
	width: 160px;
	background-color: white;
    padding-left: 120px; 
    
	
}

#footer_3 {
	float: left;
	width: 50px;
	background-color: white;
    
	
}



#nav_top {
	height: 26px;
	width: 950px;
	float: left;
	margin-top: 15px;
	

}
#katalog {
	height: 70px;
	width: 950px; 
	float: left;
	margin: 15px 0 15px 0;
	
}

#katalog_left {
	height: 70px;
	width: 200px;
	float: left;
	
}

#katalog_right {
	height: 61px;
	width: 718px;
    float: left;
	margin: 9px 0 0 32px;
        
	
}


        

#main_box {
	
	width: 740px;
        float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
        
}	


#slider_box {
	
	width: 700px;
        float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
        background-image: url(images/fon_slider.png);
        background-repeat: no-repeat;
	padding-left:0px;
        height: 260px;
        background-position: 0px 0px;
        
}	



#top {
	
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}	

#top_1 {
	
	width: 630px;
	float: left;
	margin-right: 10px;
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 5px;
}

#top_2 {
	height: 320px;
	width: 200px;
	float: left;
	margin-right: 26px;
	margin-left: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
        background-image: url(images/new_back_2.png);
	background-repeat: no-repeat;
	
}

#top_2_1 {
	height: 320px;
	width: 200px;
	float: left;
	margin-right: 26px;
	margin-left: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
        background-image: url(images/new_back_2_1.png);
	background-repeat: no-repeat;
	
}

#top_2_2 {
	height: 320px;
	width: 200px;
	float: left;
	margin-right: 26px;
	margin-left: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
        background-image: url(images/new_back_2_2.png);
	background-repeat: no-repeat;
	
}

#top_3 {
	height: 320px;
	width: 200px;
	float: left;
	margin-right: 26px;
	margin-left: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
        background-image: url(images/new_back_1.png);
	background-repeat: no-repeat;
	
}

#top_toys {
	height: 111px;
	width: 88px;
	float: left;
	margin: 0px 0 20px 0;
	
	
}

#box {
	
	width: 734px;
	float: right;
	padding-top: 5px;
	padding-bottom:20px;
}

#dm_box {
	
	width: 734px;
	float: right;
	padding-top: 5px;
	margin-bottom: 80px;
}


.small_line_1 {
	display:block;
	text-decoration:none;
	
	position:absolute;
	top:380px;
	left:0;
	width: 292px;
	height:36px;
	margin:0 0 0 25px;
	padding:2px 50px 2px 10px;
	background-image: url('/images/fon.gif');
	background-repeat: repeat-x;
	color:#00a0d0;
	
	border-style:none solid none none;
	border-width:1px;
	border-color:#a0cbca;
}

.small_line_2 {
	display:block;
	text-decoration:none;
	position:absolute;
	top:380px;
	left:378px;
	width:292px;
	height:36px;
	margin:0;
	padding:2px 50px 2px 10px;
	background-image: url('/images/fon.gif');
	background-repeat: repeat-x;
	color:#00a0d0;
	
}

.addr_1 {
	display:block;
	position:absolute;
	background-color:#FFF;
	overflow:hidden;
	left:25px;
	top:420px;
	width:0px; /*347px;*/
	height:0px; /*180px*/
	border-style:none; /*solid*/
	border-width:3px;
	border-color:#a0cbca;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.addr_2 {
	display:block;
	position:absolute;
	background-color:#FFF;
	overflow:hidden;
	left:378px;
	top:420px;
	width:0px; /*347px;*/
	height:0px; /*180px*/

	border-style:none; /*solid*/
	border-width:3px;
	border-color:#a0cbca;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}


.addr_1a {
	display:block;
	position:relative;
	background-color:#FFF;
	overflow:hidden;
	width:347px; /*347px;*/
	height:110px; /*180px*/
	border-style:none; /*solid*/
	border-width:3px;
	border-color:#a0cbca;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.addr_2a {
	display:block;
	position:relative;
	background-color:#FFF;
	overflow:hidden;
	width:347px; /*347px;*/
	height:110px; /*180px*/

	border-style:none; /*solid*/
	border-width:3px;
	border-color:#a0cbca;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.addr_w_hours, .addr_phones {
	display:block;
	position:absolute;
	width:172px;
	height:105px;
	z-index:3;
	
	border-style:solid;
	border-width:2px;
	border-color:#a0cbca;
	
	font-size: 16px;
	font-family: "Verdana";
	line-height: 1.0;
	text-align: left;
}

.addr_w_hours {
	color:#00a0d0;
	left:0px;
	top:0px;
}

.addr_phones {
	color:#00a0d0;
	left:172px;
	top:0px;
}

.addr_text {
	display:block;
	position:absolute;
	left:0px;
	top:108px;
	width:340px;
	height:65px;
	color:#00a0d0;
	padding:3px;
	
	border:none;
	
	font-size: 14px;
	font-family: "Verdana";
	line-height: 1.545;
 	text-align: left;
	background-color:#FFF;
}

.addr_close {
	position:absolute;
	z-index:5;
	top:0;
	left:321px;
}

.addr_t_row {
	height:21px;
}

.arrow_d {
	position:absolute;
	right:10px;
	top:10px;
}

.yesnoline {
	position:absolute;
	right:50px;
	top:7px;
}


#box_name {
    height: 51px;
	width: 168px;
	float: left;
	padding-left:16px;
	padding-top:16px;
	

}

#box_name_igrushki {
position: relative;
	top: -16px;
    height: 17px;
	width: 85px;
	float: left;
	
	

}


#box_img {
	width: 180px;
	float: left;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	
}	
#box_img_toys{
	width: 92px;
	float: left;
	padding:0px;
	
}	
	

#box_p {
	width: 734px;
	float: left;
margin-bottom: 15px;
}

#box_d {
	width: 714px;
	float: left;
	padding-left:20px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	overflow: hidden;

	
	
	
}
#box_left {
	width: 350px;
	float: left;
	padding: 0 30px 0 25px;
}

#box_left_1 {
	width: 680px;
    height: 160px;
	padding:0px 15px;
    background-color: #ebebeb;
	margin:0px 0 15px 20px;
	clear:both;
	
	border-radius:10px; 
	-webkit-border-radius:10px; 
	-moz-border-radius:10px;
	-khtml-border-radius:10px;	
}

#box_left_1 a {
	padding:0 6px;
}

#box_right {
	width: 325px;
	float: left;
	background-image: url(images/price.png);
	background-repeat: no-repeat;
	height: 350px;
	background-position: 0px 12px;
        
}

#box_right_new {
	width: 325px;
	float: left;
	height: 350px;        
}

.dima_1 {
	width:300px;
	margin-left:25px;
	font-family: verdana, sans-serif;
	font-size: 20px;
	color: #00a0d0;
	font-weight: bold;
	text-align: center;
    padding: 3px 0 3px 0;
	border-style:solid none solid none;
	border-width:1px;
	border-color:#ece6e5;
}

.tarifs_table_new {
	table-layout:fixed;
	width:300px;
	margin:15px 0 15px 25px;
	font-family:Verdana, sans-serif;
	font-size:13px;
	line-height:1.5;
	border:none;
	border-spacing:0px;
	color:#009CEA;
	font-weight:bold;
}

.t_h_r {
	font-family:Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background-color:#00a0d0;
	text-align:center;
	line-height:1.5;	
}

.t_h_1 {
	width:90px;
	border-color:#FFF;
	border-style:none solid solid none;
	border-width:0 1px 2px 0;
		
	border-radius:10px 0 0 0; 
	-webkit-border-radius:10px 0 0 0; 
	-moz-border-radius:10px 0 0 0;
	-khtml-border-radius:10px 0 0 0;	
}

.t_h_2 {
	width:90px;
	border-color:#FFF;
	border-style:none solid solid none;
	border-width:0 1px 2px 0;
	
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;	
}

.t_h_3 {
	width:115px;
	border-color:#FFF;
	border-style:none none solid none;
	border-width:0 0 2px 0;


	border-radius:0 10px 0 0; 
	-webkit-border-radius:0 10px 0 0; 
	-moz-border-radius:0 10px 0 0;
	-khtml-border-radius:0 10px 0 0;	
}

.t_l_1 {
	border-color:#FFF;
	border-style:none solid none none;
	border-width:0 1px 0 0;
	
	background-color:#e5f8fb;
	text-align:left;
	padding:0px 10px;
	border-spacing:0 2px;
}

.t_l_2 {
	border-color:#FFF;
	border-style:none solid none none;
	border-width:0 1px 0 0;


	background-color:#e5f8fb;
	text-align:right;
	font-weight:normal;
	font-style:italic;
	padding:0px 10px;
	border-spacing:0 2px;
}

.t_l_3 {
	background-color:#e5f8fb;
	text-align:right;
	padding:0px 10px;
	border-spacing:0 2px;
}

.t_el_1 {
	border-color:#FFF;
	border-style:none solid none none;
	border-width:0 1px 0 0;
	
	background-color:#e5f8fb;
	text-align:left;
	padding:0px 10px 10px 10px;
	border-spacing:0 2px;
	
	border-radius:0 0 0 10px; 
	-webkit-border-radius:0 0 0 10px; 
	-moz-border-radius:0 0 0 10px;
	-khtml-border-radius:0 0 0 10px;	

}

.t_el_2 {
	border-color:#FFF;
	border-style:none solid none none;
	border-width:0 1px 0 0;


	background-color:#e5f8fb;
	text-align:right;
	font-weight:normal;
	font-style:italic;
	padding:0px 10px 10px 10px;
	border-spacing:0 2px;
}

.t_el_3 {
	background-color:#e5f8fb;
	text-align:right;
	padding:0px 10px 10px 10px;
	border-spacing:0 2px;
	
	border-radius:0 0 10px 0; 
	-webkit-border-radius:0 0 10px 0; 
	-moz-border-radius:0 0 10px 0;
	-khtml-border-radius:0 0 10px 0;	

}




#box_right_1 {
	width: 325px;
	float: left;
	background-image: url(images/price_1.png);
	background-repeat: no-repeat;
	height: 350px;
	background-position: 0px 10px;
        }

#box_right_karnaval {
	width: 325px;
	float: left;
	
	background-repeat: no-repeat;
	height: 350px;
	
        
	
}
	
#nav {
	
        width: 200px;
	float: left;
              

}


blockquote {
margin: 0px 0px 20px 0px;
background: rgb(249, 251, 252);
padding: 7px 15px 7px 15px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px #d9e6ea solid;
box-shadow: rgba(38, 122, 148, 0.2) -0.5em 0.3em 0.6em;
}




#menu {
background: rgb(255, 255, 255);
padding: 4px 0 0 4px;
border-radius: 0em 0em 0.7em 0.7em;
box-shadow: rgba(38, 122, 148, 0.2) 0.18em 0.6em 0.6em;
}


#main {
	position:relative;
    width: 734px;
    float: right;
	margin-top: 0px;
    
}

#box_h {
	
	width: 486px;
        float: left;
	padding-left: 164px;
	padding-right: 84px;
	padding-top: 10px;
	padding-bottom: 20px;
	
}


#page-wrap { width: 50%; margin: 100px auto; }
h7 { margin: 20px 0; }

body {
	color: #FFF;
	background-position: 0px 172px;
	background-repeat: repeat-x;
    text-align: center;
	margin: 0px;
	padding: 0px;
}
.header {
	font-family: Arial, bold;
	font-size: 30px;
	color: #01729c;
}

.bodycopy {
        font-family: verdana, sans-serif;
	font-size: 14px;
	color: #00a0d0;
	font-weight: normal;
        text-align: justify;
	padding: 0;

	
}


.copyright {
	font-family: verdana, sans-serif;
	font-size: 10px;
	color: #00a0d0;
	font-weight: normal;
	text-align: left;
	padding: 0;
        
	
}

.cr {
	font-family: verdana, sans-serif;
	font-size: 10px;
	color: #00a0d0;
	font-weight: bold;
	text-align: left;
	padding: 0;
	
}

h1 {
	font-family: verdana, sans-serif;
margin-top: 15px;	
font-size: 20px;
	color: #00a0d0;
	font-weight: bold;
	text-align: center;

}


h2 {
	font-family: verdana, sans-serif;
	font-size: 14px;
	color: #00a0d0;
	font-weight: bold;
	text-align: justify;
margin-bottom: 3px;

}


h3 {
	font-family: verdana, sans-serif;
	font-size: 22px;
	color: #5499c0;
	font-weight: bold;
	text-align: left;
	margin-top: 7px;
	
}

h4 {
	font-family: verdana, sans-serif;
margin: 0px 20px 7px 20px;	
font-size: 17px;
	color: #00a0d0;
	font-weight: bold;
	text-align: center;

}
	
}

.kristy {
	font-family: verdana, sans-serif;
	font-size: 12px;
	color: #00a0d0;
	font-weight: normal;
	text-align: left;
	font-style:italic;
	
}

#kristy {
	font-family: verdana, sans-serif;
	font-size: 14px;
	color: #00a0d0;
	font-weight: normal;
	font-style:italic;       

}

.kristy_1 {
	font-family: verdana, sans-serif;
	font-size: 20px;
	color: #00a0d0;
	font-weight: bold;
	text-align: center;
        padding-top: 12px;

}

.kristy_new {
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;

}



H3.main_price {
	font-family: verdana, sans-serif;
	font-size: 18px;
	color: red;
	font-weight: normal;
	text-align: center;
	
}

.bodysmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00a0d0;
	position: relative;
	left: 40px;
	top: 70px;
	
		
}

.bodysmall_karn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00a0d0;
	position: relative;
	left: 100px;
	top: 10px;
}



img.skidki {
	position: relative;
	left: 240px;
	top: -40px;
	z-index: 0;
}

img.floatRight {
	float: right;
	position: relative;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
}

img.floatLeft {
	float: left;
	position: relative;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 5px;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
	
}

a.top {
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00a0d0;
	text-align: center;
	text-decoration: none;
		
		
}

a {
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00a0d0;
	text-decoration: underline;
		
		
}

div.pad

{
	padding-top: 7px;
	padding-left: 5px;
}

/* банер магазина*/
.shop {
	width:730px;
	height:216px;
	background-image:url(images/shop_b.jpg);
	position:relative;
	color:#FFF;
	
}

.shop p {
	margin: 30px 200px 10px 70px;
	padding: 10px 0 0 0;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

.shop_anc {
	background-color:#FFF;
	color:#ee524a;
	padding:5px 10px;
	text-align:center;
	
	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px; 
	-khtml-border-radius:15px;

	
}

.shop_price {
	position:absolute;
	right:-70px;
	top:140px;
	width:130px;
	height:50px;
	background-image:url(images/shop_price.png);
	text-align:right;
	padding-right:20px;
	padding-top:20px;
	
	
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	
 /*   -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg); 
    transform: rotate(30deg); */

}

.shop_round {

	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px; 
	-khtml-border-radius:15px;

}

.slideshow {
	position: absolute;
	right:25px;
	top:27px; 
	height:165px; 
	width:165px;
}

.slideshow a {
	text-decoration:none;
}

.slide { 
	display: none;
	position: absolute;
}

.slide.current { 
	display: block; 
}

#boss_name {
	width:260px;
	margin:0 auto;
	padding:5px;

	background-color:#f6903d;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	line-height:1.3;

	border:none;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
r:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	
	border:none;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;		
	
}

.about_right {
	width:350px;
	float:right;
	text-align:center;
}

#dir_letter_wr {
	padding:5px 10px;
	text-align:left;
	background-color:#6C3;
	position:absolute;
	right:0px;
	display:none;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;		
}

.zakaz_div{
	text-align:center;
	position:absolute;
	left:89px;
	bottom: 86px;
	/*background-color:#FF0;*/
	width: 170px;

	z-index:1;
}

.zakaz_form {
	width:350px;
	padding:10px 10px;
	text-align:left;
	font-size:16px;
	color:#000;
	background-color:#EFEFEC;
	position:absolute;
	top:-57px;
	right:-5px;

	z-index:5;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;		
}

.zakaz_a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #404599;
	display:inline-block;
	/*background-color:#0F6;*/
	padding: 20px 25px;
	text-decoration:none;
}

.zakaz_pas_div {
	
	text-align:center;
	position:absolute;
	left:82px;
	bottom: -13px;
	/*background-color:#FF0;*/
	width: 170px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #404599;
	display:inline-block;
	/*background-color:#0F6;*/
	pa;*/
	width: 170px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #404599;
	display:inline-block;
	/*background-color:#0F6;*/
	padding: 20px 25px;
	
}

.pas_form {
	width:700px;
	padding:20px 15px;
	text-align:left;
	background-color:#EFEFEC;
	position:absolute;
	top:-150px;
	right:-5px;

	z-index:10;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;	
	
}

.pas_form_ok {
	width:300px;
	padding:20px 15px;
	text-align:center;
	background-color:#EFEFEC;
	position:absolute;
	top:-150px;
	right:-5px;

	z-index:10;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;	
	
}
	
	
.karnaval_radio_kompl {
	display:inline-block; 
	text-align:center; 
	margin:0 10px;
}

.blag {
	width:350px;
	padding:10px 10px;
	text-align:center;
	font-size:16px;
	color:#000;
	background-color:#EFEFEC;
	position:absolute;
	top:-57px;
	right:-5px;

	z-index:5;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;	
	
}

.blag_n {
	width:350px;
	padding:10px 10px;
	text-align:center;
	font-size:16px;
	color:#000;
	background-color:#EFEFEC;
	position:absolute;
	top:-57px;
	right:-5px;

	z-index:5;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;	
	
}

.tarifs_table {
	font-family:Verdana, sans-serif;
	font-size:13px;
	line-height:1.5;
	border:none;
	border-spacing:2px;
	position:relative;
	top:64px;
	left:22px;
	color:#009CEA;
	font-weight:bold;
}

.tar_1 {
	width:80px;
//	background-color:#0C3;
	padding:5px 0 0 10px;
}

.tar_2 {
	width:82px;
//	background-color:#36F;
	padding:5px 10px 0 0;
	text-align:right;
        font-weight:normal;
        font-style:italic;
}

.tar_3 {
	width:101px;
//	background-color:#F30;
	padding:5px 10px 0 0;
	text-align:right;
}

.ots_st_t {
	font-family: verdana, sans-serif;
	font-weight:bold;
	color:#cec7c7;
	font-size:14px;
	text-align:center;
	width:300px;
	position:relative;
	left:22px;
	top:88px;
	
}

#ots_st_t {
	font-family: verdana, sans-serif;
	font-weight:bold;
	color:#cec7c7;
	font-size:14px;
	text-align:center;
	padding:15px 0;	
}

.br_but_big {
	background-image:url(/images/but_br_big.png);
	width:300px;
	height:54px;
	border:none;
	padding:0 40px 0 0;
	position:relative;
	left:25px;
	top:15px;
	
	font-size: 16px;
	font-family: "Verdana";
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.063;
	text-align: left;
	text-shadow: 1px 1.732px 5px rgb( 0, 0, 0 );
	text-align:center;
	letter-spacing:2px;


	
	border-radius:7px; 
	-webkit-border-radius:7px; 
	-moz-border-radius:7px;
	-khtml-border-radius:7px;	

	
}

.ots_st_k {
	font-family: verdana, sans-serif;
	font-weight:bold;
	color:#cec7c7;
	font-size:14px;
	text-align:left;
	width:300px;
	position:relative;
	left:38px;
	top:13px;
	
}

.navi1 {
  width: 663px;
  position:absolute;
	top:215px;
	left:287px;
  display: block;
  margin:0 auto;
  height: 54px;
}
.navi1 ul {
  float: none;
  list-style-image: none;
  list-style-type: none;
  margin: 3px 0;
}
.navi1 ul li {
  height: 54px;
  background-image: url(images/tab_1.png);
  background-repeat: no-repeat;
  float: left;
  margin: 0px;
  position: absolute;
  padding-top: 0px;
}
.navi1 ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
.navi1 ul li.sm1 {
  background-position: 0px 0px;
  width: 94px;
  left: 0px;
}
.navi1 ul li.sm2 {
  background-position: -95px 0px;
  width: 108px;
  left: 95px;
}
.navi1 ul li.sm3 {
  background-position: -204px 0px;
  width: 87px;
  left: 204px;
}
.navi1 ul li.sm4 {
  background-position: -292px 0px;
  width: 101px;
  left: 292px;
}
.navi1 ul li.sm5 {
  background-position: -394px 0px;
  width: 108px;
  left: 394px;
}

.navi1 ul li.sm6 {
  background-position: -503px 0px;
  width: 79px;
  left: 503px;
}

.navi1 ul li.sm7 {
  background-position: -583px 0px;
  width: 80px;
  left: 583px;
}

.navi1 ul li:hover{
  z-index: 1000;
}
.navi1 ul li.sm1:hover {
  background-position: 0px -61px; 
}
.navi1 ul li.sm2:hover {
  background-position: -95px -61px; 
}
.navi1 ul li.sm3:hover {
  background-position: -204px -61px; 
}
.navi1 ul li.sm4:hover {
  background-position: -292px -61px; 
}
.navi1 ul li.sm5:hover {
  background-position: -394px -61px; 
}

.navi1 ul li.sm6:hover {
  background-position: -503px -61px; 
}

.navi1 ul li.sm7:hover {
  background-position: -583px -61px; 
}


.navi2 {
  width: 575px;
  position:absolute;
	top:450px;
	left:65px;
  display: block;
  margin:0 auto;
  height: 72px;
}
.navi2 ul {
  float: none;
  list-style-image: none;
  list-style-type: none;
  margin: 3px 0;
}
.navi2 ul li {
  height: 72px;
  background-image: url(images/tab-2.png);
  background-repeat: no-repeat;
  float: left;
  margin: 0px;
  position: absolute;
  padding-top: 5px;
}
.navi2 ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
.navi2 ul li.sm1 {
  background-position: 0px 0px;
  width: 125px;
  left: 0px;
}
.navi2 ul li.sm2 {
  background-position: -125px 0px;
  width: 124px;
  left: 115px;
}
.navi2 ul li.sm3 {
  background-position: -249px 0px;
  width: 124px;
  left: 230px;
}
.navi2 ul li.sm4 {
  background-position: -373px 0px;
  width: 125px;
  left: 345px;
}
.navi2 ul li.sm5 {
  background-position: -498px 0px;
  width: 126px;
  left: 460px;
}
.navi2 ul li:hover{
  z-index: 1000;
}
.navi2 ul li.sm1:hover {
  background-position: 0px -75px; 
}
.navi2 ul li.sm2:hover {
  background-position: -125px -75px; 
}
.navi2 ul li.sm3:hover {
  background-position: -249px -75px; 
}
.navi2 ul li.sm4:hover {
  background-position: -373px -75px; 
}
.navi2 ul li.sm5:hover {
  background-position: -498px -75px; 
}



.zakaz_a {
	font-size:17px;
	margin:0;
	padding:0;
	text-decoration:underline;
	font-family:Semibold;
	color:#00a0d0;
}

.zvonok_form {
	width:400px;
	padding:10px 10px;
	text-align:left;
	font-size:16px;
	color:#000;
	background-color:#EFEFEC;
	position:absolute;
	top:150px;
	right:200px;

	z-index:11;
	
	border-radius:30px; 
	-webkit-border-radius:30px; 
	-moz-border-radius:30px;
	-khtml-border-radius:30px;		
}

.deliv_table {
	border:none;
	border-spacing:2px;
	position:relative;
}

.deliv_1 {
//	width:80px;
	background-color:#00a0d0;
	padding:5px 15px;
	color:#FFF;
	
	border-radius:20px 0 0 0; 
	-webkit-border-radius:20px 0 0 0; 
	-moz-border-radius:20px 0 0 0;
	-khtml-border-radius:20px 0 0 0;
}

.deliv_11 {
//	width:80px;
	background-color:#00a0d0;
	padding:5px 15px;
	color:#FFF;
	
	border-radius:0 20px 0 0; 
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0;
	-khtml-border-radius: 0 20px 0 0;
}


.deliv_2 {
//	width:80px;
	background-color:#e5f8fb;
	padding:5px 10px;

}

.deliv_22 {
//	width:80px;
	background-color:#e5f8fb;
	padding:5px 10px;
}

.deliv_3 {
//	width:80px;
	background-color:#e5f8fb;
	padding:5px 10px 10px 10px;
	
	border-radius:0 0 0 20px; 
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px;
	-khtml-border-radius: 0 0 0 20px;
}

.deliv_33 {
//	width:80px;
	background-color:#e5f8fb;
	padding:5px 10px 10px 10px;
	
	border-radius:0 0 20px 0; 
	-webkit-border-radius:0 0 20px 0; 
	-moz-border-radius:0 0 20px 0;
	-khtml-border-radius: 0 0 20px 0;
}






.adress_table {
border-radius: 1.2em;
box-shadow: rgba(38, 122, 148, 0.2) -0.5em 0.3em 0.6em;
	border:none;
	border-spacing:2px;
	position:relative;
margin: 15px 0 20px 15px;
}

.adress_1 {
	width:185px;
	background-color:#00c1fd;
	padding:5px 15px;
	color:#FFF;
font-size: 17px;
font-family: 'Semibold';
text-align: left;
	
	border-radius:15px 0 0 0; 
	-webkit-border-radius:15px 0 0 0; 
	-moz-border-radius:15px 0 0 0;
	-khtml-border-radius:15px 0 0 0;
}

.adress_11 {
	width:345px;
	background-color:rgb(249, 251, 252);
	padding:5px 15px;
	color:#00a0d0;
		
}


.adress_111 {
	width:185px;
	background-color:#00c1fd;
	padding:5px 15px;
	color:#FFF;
        font-size: 17px;
font-family: 'Semibold';
text-align: left;
	border-radius:0 15px 0 0; 
	-webkit-border-radius:0 15px 0 0; 
	-moz-border-radius:0 15px 0 0;
	-khtml-border-radius: 0 15px 0 0;
}

.adress_2 {
	
	background-color:#f8d152;
	padding:5px 10px;
color: #FFF;
font-size: 17px;
font-family: 'Semibold';
text-align: left;
}



.adress_222 {
        
	background-color:#f8d152;
	padding:5px 10px;
color: #FFF;
font-size: 17px;
font-family: 'Semibold';
text-align: left;
}

.adress_3 {
        
	background-color:#88d952;
	padding:5px 10px 10px 10px;
color: #FFF;
font-size: 17px;
font-family: 'Semibold';
text-align: left;
	
	border-radius:0 0 0 15px; 
	-webkit-border-radius:0 0 0 15px; 
	-moz-border-radius:0 0 0 15px;
	-khtml-border-radius: 0 0 0 15px;
}


.adress_333 {
       
	background-color:#88d952;
	padding:5px 10px 10px 10px;
color: #FFF;
font-size: 17px;
font-family: 'Semibold';
text-align: left;
	
	border-radius:0 0 15px 0; 
	-webkit-border-radius:0 0 15px 0; 
	-moz-border-radius:0 0 15px 0;
	-khtml-border-radius: 0 0 15px 0;
}






#mycarousel {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}


.jcarousel-skin-tango .jcarousel-container-horizontal {
width: 730px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
width: 680px;
height: 210px;
text-align: center;
font-family: Tahoma,Theater Afisha,Arial,Helvetica,Sans-serif;
font-size: 11px;
font-color: #f8f1f1;
}

.jcarousel-skin-tango .jcarousel-container {
border: 1px #9ecbca solid;
background: #fff;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
margin-left: 12px;
margin-bottom: 10px;
overflow: hidden;
}





.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal {
position: absolute;
margin:0;
padding:0;
top: -25px;
right: 0;
width: 40px;
height: 260px;
cursor: pointer;

background: url(../images/arrows.png) no-repeat right;
}


.jcarousel-skin-tango .jcarousel-prev-horizontal {
right: auto;
left: 0;
background-position: left;
}


.jcarousel-prev.jcarousel-prev-horizontal {
}


.jcarousel-skin-tango .jcarousel-item-horizontal {
margin: 0 0 0 10px;
border: 1px #d9e6ea solid;
border-top:none;
box-shadow: rgba(38, 122, 148, 0.2) -0.5em 0.3em 0.6em;

}

.jcarousel-skin-tango .jcarousel-item img {

max-height: 160px;
max-width: 160px;
}






#slider-x{
text-align: center;
font-family: Tahoma,Theater Afisha,Arial,Helvetica,Sans-serif;
font-size: 12px;
font-color: #cec7c7;
 
}
Vwidget{
margin: 0;
padding: 0;

}
.VjCarouselLite{

margin-left:0 px;
padding-left: 0px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;


}
.VjCarouselLite li{
overflow: hidden;
float: none;
display: block;
margin-bottom: 10px;
padding: 0;
text-align: center;
}
.VjCarouselLite li div{

margin: 0 auto;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
width: 176px;
height: 227px;
}
.VjCarouselLite img{
border: 2px #d9e6ea solid;
box-shadow: rgba(38, 122, 148, 0.2) -0.5em 0.3em 0.6em;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-top: 10px;
margin-left: 0px;
margin-bottom: 7px;
width: 160px;
height: 160px;

}


.karnaval_table {
font-family: verdana, sans-serif;
width: 325px;
position:relative;
padding-left: 20px;
}

.karnaval_1 {
padding:0 0 13px 0;
color:#00a0d0;
font-size: 20px;
font-weight: bold;
text-align: left;
		
}


.karnaval_2 {
border-top: 1px #f4e4e2 solid;
border-bottom: 1px #f4e4e2 solid;
padding:13px 0 12px 0;
color: #cec7c7;
font-size: 16px;
font-weight: bold;
text-align: left;
}



.karnaval_3 {
width: 113px; 
border-top: 13px #FFF solid;
border-bottom: 3px #FFF solid;
background-color:#00a1d3;
color: #FFF;
font-weight: bold;
font-size: 16px;
text-align: center;
padding: 15px;
	
}

.karnaval_33 {
width: 178px;
border-top: 13px #FFF solid;
border-bottom: 3px #FFF solid;        
background-color:#00a1d3;
color: #FFF;
font-weight: bold;
font-size: 16px;
text-align: center;
padding: 15px;
	
}


.karnaval_4 {
        width: 113px;
border-bottom: 13px #FFF solid;
	background-color:#def8fb;
	color: #00a1d3;
font-weight: bold;
font-size: 16px;
text-align: center;
padding: 15px;
	
}

.karnaval_44 {
  width: 178px; 
border-bottom: 13px #FFF solid;     
	background-color:#def8fb;
	color: #00a1d3;
font-weight: bold;
font-size: 16px;
text-align: center;
padding: 15px;
	
}



.karnaval_6 {
border-top: 13px #FFF solid;
padding: 23px;
}


.podr_div1 {
	font-size:18px;
	padding:0 0 0 30px;
	clear:both;
	width:710px;
	background-color:#FFF;
	color:#878787;
}

.podr_div2 {
	padding:1px;
	margin: 0 0 0 20px;
	clear:both;
	background-color:#7ed500;
	width:677px;

	border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	-khtml-border-radius:5px;	
}

.podr_a1 {
	display:block;
	font-size:15px;
	font-weight:normal;
	padding:4px 5px 5px 5px;
	margin: 0;
	clear:both;
	width:665px;
	color:#FFF;
	text-decoration:none;
	border-style:dashed;
	border-color:#FFF;
	border-width:1px 0 1px 0;
	font-style:italic;

}

.k_box_img {
	width: 180px;
	float: left;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:14px;
	
}

.k_top_2 {
	height: 390px;
	width: 200px;
	float: left;
	margin-right: 26px;
	margin-left: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-repeat: no-repeat;
	
	border:none;
	border-width:1.8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px;
	-khtml-border-radius:15px;	
	
}

.k_l2_text {
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background-color:#00c1fd;
	width:180px;
	height:41px;
	margin:10px;
	padding:7px 0;
	
	border:none;
	border-width:1.8px;
	box-shadow: 0 0 10px rgba(0,0,0,0);
	
	border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	-khtml-border-radius:5px;

}

.k_down_1l {
	height:26px;
	width:50px;
	float:left;
	color:#929292;
	padding:10px 0 0 12px;
	clear:both;
	
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight:normal;
}

.k_down_1r {
	height:26px;
	width:126px;
	background-color:#7ed500;
	float:left;
	position:relative;
	margin:5px 0 0 0;
	
	border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	-khtml-border-radius:3px;

}
.k_down_2r {
	height:26px;
	width:126px;
	background-color:#f35b2c;
	float:left;
	position:relative;
	margin:5px 0 0 0;
	
	border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	-khtml-border-radius:3px;

}
.k_down_3r {
	height:26px;
	width:126px;
	background-color:#00c1fd;
	float:left;
	position:relative;
	margin:5px 0 0 0;
	
	border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	-khtml-border-radius:3px;

}

.k_line {

	border-color:#FFF;
	border-width:1px;
	width:126px;
	height:18px;
	border-bottom-style:dashed;
	border-top-style:dashed;
	margin:1px 0 1px 0;
	color:#FFF;
	text-align:center;
	padding:4px 0 0 0;
	
}

.karn_br_addr {
	background-color:#FFF;
	color:#F00;
	text-align:center;
	font-weight:bold;
}

@font-face {
			font-family: "UbuntuRegular";
			src: url("/fonts/UbuntuRegular.eot");
			src: url("/fonts/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuRegular.woff") format("woff"),
			url("/fonts/UbuntuRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuBold";
			src: url("/fonts/UbuntuBold.eot");
			src: url("/fonts/UbuntuBold.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuBold.woff") format("woff"),
			url("/fonts/UbuntuBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuItalic";
			src: url("/fonts/UbuntuItalic.eot");
			src: url("/fonts/UbuntuItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuItalic.woff") format("woff"),
			url("/fonts/UbuntuItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuLight";
			src: url("/fonts/UbuntuLight.eot");
			src: url("/fonts/UbuntuLight.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuLight.woff") format("woff"),
			url("/fonts/UbuntuLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuLightItalic";
			src: url("/fonts/UbuntuLightItalic.eot");
			src: url("/fonts/UbuntuLightItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuLightItalic.woff") format("woff"),
			url("/fonts/UbuntuLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuMedium";
			src: url("/fonts/UbuntuMedium.eot");
			src: url("/fonts/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuMedium.woff") format("woff"),
			url("/fonts/UbuntuMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuMediumItalic";
			src: url("/fonts/UbuntuMediumItalic.eot");
			src: url("/fonts/UbuntuMediumItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuMediumItalic.woff") format("woff"),
			url("/fonts/UbuntuMediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuBoldItalic";
			src: url("/fonts/UbuntuBoldItalic.eot");
			src: url("/fonts/UbuntuBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuBoldItalic.woff") format("woff"),
			url("/fonts/UbuntuBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "UbuntuRegular";
			src: url("/fonts/UbuntuRegular.eot");
			src: url("/fonts/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuRegular.woff") format("woff"),
			url("/fonts/UbuntuRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuBold";
			src: url("/fonts/UbuntuBold.eot");
			src: url("/fonts/UbuntuBold.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuBold.woff") format("woff"),
			url("/fonts/UbuntuBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuItalic";
			src: url("/fonts/UbuntuItalic.eot");
			src: url("/fonts/UbuntuItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuItalic.woff") format("woff"),
			url("/fonts/UbuntuItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuLight";
			src: url("/fonts/UbuntuLight.eot");
			src: url("/fonts/UbuntuLight.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuLight.woff") format("woff"),
			url("/fonts/UbuntuLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuLightItalic";
			src: url("/fonts/UbuntuLightItalic.eot");
			src: url("/fonts/UbuntuLightItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuLightItalic.woff") format("woff"),
			url("/fonts/UbuntuLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuMedium";
			src: url("/fonts/UbuntuMedium.eot");
			src: url("/fonts/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuMedium.woff") format("woff"),
			url("/fonts/UbuntuMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuMediumItalic";
			src: url("/fonts/UbuntuMediumItalic.eot");
			src: url("/fonts/UbuntuMediumItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuMediumItalic.woff") format("woff"),
			url("/fonts/UbuntuMediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "UbuntuBoldItalic";
			src: url("/fonts/UbuntuBoldItalic.eot");
			src: url("/fonts/UbuntuBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/UbuntuBoldItalic.woff") format("woff"),
			url("/fonts/UbuntuBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}