.l3-fav-slider-container{
    margin-top: 45px;
    margin-bottom: 60px;
    position: relative;

    .btn-controll{
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        top: 50%;
        transform: translateY(-50%);

        border-radius: 50%;
        border: none;

        background: #FFFFFF;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);

        z-index: 2;

    }

    .btn-left{
        left: 0;

        img {
            transform: rotate(180deg);
        }
    }
    .btn-left.hide{
        display: none;
    }

    .btn-right{
        right: 0;
    }

    .btn-right.hide{
        display: none;
    }

    h3{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 172.69%;
        /* or 35px */
        letter-spacing: 0.0029em;
        color: #000000;
    }
}

.l3_favorite_tovar_container{
    display: flex;
    flex-flow: row nowrap;
    gap: 22px;

    overflow-x: scroll;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;


}

.l3_favorite_tovar_container::-webkit-scrollbar, {
    display: none;
}
.l3_favorite_tovar_container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.small-card-container,
.small-card-container:hover,
.small-card-container:active{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    width: 250px;
    background-color: white;
    padding: 16px;

    border-radius: 5px;

    text-decoration: none;

    scroll-snap-align: start;

    @media screen and (max-width: 767px) {
        scroll-snap-align: start;
    }

    .heart-img{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 20px;
    }

    .main-img{
        margin-top: 12px;
        width: 200px;
    }

    h4{
        margin: 14px 0 0 0;
        padding: 0;
        width: 100%;
        height: 44px;
        overflow: hidden;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }

    button{
        width: 125px;
        height: 39px;
        margin-top: 10px;

        background: #3180D1;
        border: 1px solid #3180D1;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 172.69%;
        /* or 28px */
        text-align: center;
        letter-spacing: 0.0029em;
        color: #FFFFFF;
    }
}
