.top-card{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 300px;
    align-items: center;
    width: 300px;

    font-family: var(--main-text-font-family);
    font-style: normal;
    color: var(--main-text-color);
}
.top-card img {
    height: 245px;
    width: 245px;
    margin: 0 auto;
}
.top-card-title{
    margin: 20px 0 0 0;
    width: 250px;

    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.0029em;
}

.top-card-text{
    margin-top: 14px;
    margin-bottom: 30px;
    width: 250px;

    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    text-align: center;
    letter-spacing: 0.0029em;

    @media screen and (max-width: 440px){
        font-size: 16px;
    }

}

.top-card-btn-div{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;

    text-align: center;
    width: 125px;
    height: 40px;
    background: #3180D1;
    //border-radius: 8px;
}
.top-card-btn-div a,
.top-card-btn-div a:visited{
    display: block;
    padding: 6px 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.0029em;
    color: #FFFFFF;
    text-decoration: none;
}



@media screen and (max-width: 440px){
    .top-card{
        box-sizing: content-box;
        padding: 0 calc((100% - 300px)/2);
    }
}
