.more-btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px 0px;
}

.l2-more-btn{
  margin: 20px auto;
  border: 1px solid #3180d1;
  padding: 7px 30px;
  transition: all 0.3s;
  /*border-radius: 5px;*/
  text-transform: uppercase;
}
.l2-more-btn:hover{
  background-color: #3180d1;
  color: white;
}

.l3k-filter-container{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 8px 0;
}

.l3k-filter-container .col1{
  width: 295px;
}

.cat_h2_listing{
  font-weight: 500;
  font-size: 26px;
}

@media screen and (max-width: 767px){
  .cat_h2_listing{
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 899px){
  .l3k-filter-container .col1{
    display: none;
  }
}

.l3k-filter-container .col2{
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
.l3k-filter-container .col2 .date {
  min-width: 165px;
}

@media screen and (max-width: 800px){
  .l3k-filter-container .col2 [name="rost"]{
    width: 98px;
  }
}
