
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin:0;
}

body {
    display: flex;
    background-color: black;
    flex-flow: column nowrap;
    height: 100%;
    margin:0;
}

footer {
    margin-top: auto;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.shadow {
    box-shadow: 0px 0px 5px 3px lightblue;
}

.result-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.container-main {
    display: flex;
    flex: 0 0 300px;
    flex-flow: row wrap;
    height: 300px;
    width: 300px;
    background-color: rgba(247, 250, 94, 0.876);
}

.container-main div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.wondown::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 0px;
    height: 10px;
    transform: rotate(90deg);
    transition: 1s;
    z-index: 10;
}
.wondown.red::before{
    background-color: red;
}
.wondown.blue::before{
    background-color:blue;
}
.wondown.active::before {
    top: 144px;
    left: -100px;
    width: 300px;
    height: 10px;
}

.wonright::before {
    display: block;
    content: '';
    position: absolute;
    top: 48;
    left: 0px;
    width: 0px;
    height: 10px;
    background-color: red;
    transition: 1s;
    z-index: 10;
}
.wonright.red::before{
    background-color: red;
}
.wonright.blue::before{
    background-color:blue;
}

.wonright.active::before {
    width: 300px;
}

.woncross1::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 10px;
    background-color: red;
    transform: rotate(45deg);
    transition: 1s;
    z-index: 10;
}

.woncross1.red::before{
    background-color: red;
}
.woncross1.blue::before{
    background-color:blue;
}

.woncross1.active::before {
    top: 144px;
    left: -63px;
    width: 425px;
    height: 10px;
}

.woncross2::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 10px;
    background-color: red;
    transform: rotate(-45deg);
    transition: 1s;
    z-index: 10;
}

.woncross2.active::before {
    top: 144px;
    right: -63px;
    width: 425px;
    height: 10px;
}

.border-t-d{
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
}
.border-l-r {
    border-left: solid;
    border-right: solid;
    border-color: black;
    border-width: 5px;
}

.woncross2.red::before{
    background-color: red;
}
.woncross2.blue::before{
    background-color:blue;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 120px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: red;
    padding: 20px;
    visibility: visible;
    transition: 1s;
    
}
.info.show {
    visibility: visible;
}

.info button {
    width: 160px;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 15px;
    border: none;
    
}


.footer-container {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .footer-container a{
    color: white;
    text-decoration: none;
  
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
  
    color: #FFFFFF;
  
  }

  .won {
      display: block;
  }

  .hide {
      display: none;
  }

  .play {
      margin: 10px;
      width: 50px;
      height: 50px;
      position: absolute;
      top:0;
      left: 0;

      background-image: url(./assets/svg/play.svg);
      background-size: contain;
  }
  .play.pause{
    background-image: url(./assets/svg/pause.svg);
  }
  
  .footer-container a:hover {
    filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
  }