{
  "openapi": "3.0.3",
  "info": {
    "title": "TikTak.by MCP Analytics API",
    "version": "2.0.0",
    "description": "Read-only analytics API powering the local MCP server (tiktak-mcp). All endpoints return a `{query, data, meta}` envelope. All amounts are in BYN.\n\n## Methodology (locked 2026-05-14)\n\nNumbers reproduce the legacy admin reports /bb/reports.php, /bb/sales_breakdown.php, /bb/dohrash2.php, /bb/cat_analysis.php:\n\n- **Revenue** = SUM(r_paid + delivery_paid) over UNION(rent_sub_deals_act, rent_sub_deals_arch), filtered by `acc_date` (accounting date — when the payment landed). Not by parent deal's `cr_time`.\n- **Deal/return counts** read UNION(rent_deals_act, rent_deals_arch). The `_act` table holds ~430 currently-open deals; querying only `_arch` would miss them.\n- **Office attribution** uses sub_deal.place + delivery_yn (per-payment), not deal.first_rent_place (per-deal). A deal opened at office 1 but extended at office 2 contributes to BOTH.\n- **Carnival** items are detected via tovar_rent_cat.cat_type=1. /finance/revenue and /finance/pnl accept `include_carnival` (default true). When include_carnival=true the response still splits revenue into revenue_carnival_byn / revenue_non_carnival_byn — see PnL schema.\n- **Inventory** at date X counts both tovar_rent_items (buy_date <= X) and tovar_rent_items_arch (buy_date <= X AND arch_time >= X) — matches tovar::getTovNumberForCatsForDate.\n- **/inventory/utilization** denominator uses average of unit counts at period start and end.\n\nAccess: Bearer token (MCP_API_TOKEN), GeoIP-restricted to BY/RU, rate-limited to 60 req/min."
  },
  "servers": [
    { "url": "https://tiktak.by/api/mcp/v1", "description": "Production" }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "parameters": {
      "from":        { "in": "query", "name": "from",        "schema": { "type": "string", "format": "date" }, "description": "Period start (ISO date). Default: 12 months ago." },
      "to":          { "in": "query", "name": "to",          "schema": { "type": "string", "format": "date" }, "description": "Period end (ISO date). Default: today." },
      "granularity": { "in": "query", "name": "granularity", "schema": { "type": "string", "enum": ["day","week","month","quarter","year"], "default": "month" } },
      "category":    { "in": "query", "name": "category",    "schema": { "type": "string", "enum": ["all","children","costumes","medical","cleaning","sports","tools"], "default": "all" } },
      "segment":     { "in": "query", "name": "segment",     "schema": { "type": "string", "enum": ["all","b2c","b2b"], "default": "all" } },
      "region":      { "in": "query", "name": "region",      "schema": { "type": "string", "enum": ["all","belarus","minsk","vitebsk","grodno","mogilev","gomel","brest"], "default": "all" } },
      "location":    { "in": "query", "name": "location",    "schema": { "type": "string" }, "description": "Office id (1..) for non-courier sub-deals (sub_deal.place=N AND delivery_yn != '1'), 'courier' for delivery_yn='1', or 'all'." },
      "channel":     { "in": "query", "name": "channel",     "schema": { "type": "string" }, "description": "'cash' (channels 1..4 + cur), 'bank', 'all', or exact value." },
      "years":       { "in": "query", "name": "years",       "schema": { "type": "integer", "minimum": 1, "maximum": 11, "default": 5 } },
      "days":        { "in": "query", "name": "days",        "schema": { "type": "integer", "minimum": 1, "maximum": 3650, "default": 90 } },
      "include_carnival": { "in": "query", "name": "include_carnival", "schema": { "type": "boolean", "default": true }, "description": "If false, exclude items in carnival categories (tovar_rent_cat.cat_type=1). Truthy/falsy strings accepted ('true','1','yes' vs 'false','0','no','off')." }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "required": ["query", "data", "meta"],
        "properties": {
          "query": { "type": "object", "additionalProperties": true, "description": "Echo of the request parameters with defaults filled in." },
          "data":  { "description": "Endpoint-specific payload (array, object, or scalar)." },
          "meta": {
            "type": "object",
            "properties": {
              "total_rows":     { "type": ["integer","null"] },
              "currency":       { "type": "string", "example": "BYN" },
              "data_freshness": { "type": ["string","null"], "format": "date-time" },
              "warnings":       { "type": "array", "items": { "$ref": "#/components/schemas/Warning" } }
            }
          }
        }
      },
      "Warning": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code":    { "type": "string" },
          "message": { "type": "string" },
          "ref":     { "type": "string", "description": "Optional decisions_log.md reference, e.g. D-OPEN-FY2025." }
        }
      }
    },
    "responses": {
      "Envelope":      { "description": "Standard envelope.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Envelope" } } } },
      "Unauthorized":  { "description": "Missing or invalid Bearer token." },
      "Forbidden":     { "description": "Country not in allow-list." },
      "TooManyRequests": { "description": "Rate limit exceeded (60 req/min)." },
      "ValidationError": { "description": "Invalid query parameters.", "content": { "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" }, "errors": { "type": "object" } } } } } }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "tiktak_health",
        "summary": "Liveness probe (no DB).",
        "responses": { "200": { "$ref": "#/components/responses/Envelope" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "tiktak_openapi",
        "summary": "Returns this OpenAPI spec.",
        "security": [],
        "responses": { "200": { "description": "OpenAPI document." } }
      }
    },

    "/meta/categories":     { "get": { "operationId": "tiktak_meta_categories", "summary": "Business categories + detailed tovar_cats list.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/meta/locations":      { "get": { "operationId": "tiktak_meta_locations", "summary": "Offices/couriers with computed first/last deal + revenue.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/meta/expense-items":  { "get": { "operationId": "tiktak_meta_expense_items", "summary": "Active rash_items dictionary.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/meta/income-items":   { "get": { "operationId": "tiktak_meta_income_items", "summary": "Active doh_items dictionary.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/meta/data-freshness": { "get": { "operationId": "tiktak_meta_data_freshness", "summary": "Latest write timestamp per hot table + global max.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/finance/pnl":       { "get": { "operationId": "tiktak_finance_pnl", "summary": "Revenue (total + non-carnival + carnival), expenses (7 buckets), EBITDA. Adds 2025 bank-channel warning when range overlaps 2025+. Response rows include: revenue_byn, revenue_rent_byn, revenue_delivery_byn, revenue_non_carnival_byn, revenue_carnival_byn, expenses_total_byn, ebitda_byn + per-bucket fields.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" }, "422": { "$ref": "#/components/responses/ValidationError" } } } },
    "/finance/revenue":   { "get": { "operationId": "tiktak_finance_revenue", "summary": "Rental revenue from UNION(sub_deals_act, sub_deals_arch) by acc_date. Response rows: period, rent_byn, delivery_byn, total_byn, deals, issuance_events.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/location" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/finance/expenses":  { "get": { "operationId": "tiktak_finance_expenses", "summary": "doh_rash expenses by period × type2 × channel.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/channel" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/finance/cash-flow": { "get": { "operationId": "tiktak_finance_cash_flow", "summary": "Inflow/outflow/net per till (kassa).", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/operations/funnel":      { "get": { "operationId": "tiktak_operations_funnel", "summary": "Lead → deal → sub-deal → return funnel with conversion rates. Response.data adds issuance_events (sub_deal type IN first_rent/takeaway_plan) — matches /bb/reports.php deal counts.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/location" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/operations/timeline":    { "get": { "operationId": "tiktak_operations_timeline", "summary": "Period-bucketed funnel. Same fields as /funnel per period.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/location" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/operations/by-category": { "get": { "operationId": "tiktak_operations_by_category", "summary": "Per-razdel orders + deals + revenue. Revenue is pre-aggregated per item to avoid M:N inflation.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/operations/by-location": { "get": { "operationId": "tiktak_operations_by_location", "summary": "Per-office deals + revenue + issuance_events. office_id=0 is the synthetic 'Курьер' row (delivery_yn='1' sub-deals).", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/inventory/free-tree":     { "get": { "operationId": "tiktak_inventory_free_tree", "summary": "Current catalog tree with free-unit counts.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/inventory/profitability": { "get": { "operationId": "tiktak_inventory_profitability", "summary": "Per-physical-item profitability across UNION(deals_act, deals_arch).", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/inventory/utilization":   { "get": { "operationId": "tiktak_inventory_utilization", "summary": "Per-model utilization = rented_seconds / (avg_units × period). Response rows: model_id, model_name, units_at_from, units_at_to, avg_units, deals_in_period, rented_days, utilization. Historical inventory at date = active items (buy_date<=ts) + archived items still alive (buy_date<=ts AND arch_time>=ts).", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/inventory/turnover":      { "get": { "operationId": "tiktak_inventory_turnover", "summary": "Per-model turnover = deals / units.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/inventory/idle":          { "get": { "operationId": "tiktak_inventory_idle", "summary": "Models without rentals for at least N days.", "parameters": [ { "$ref": "#/components/parameters/days" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/customers/timeline":         { "get": { "operationId": "tiktak_customers_timeline", "summary": "Per-period new / active / returning / new-active customer counts.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/customers/cohorts":          { "get": { "operationId": "tiktak_customers_cohorts", "summary": "Monthly cohort × observed retention matrix.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/customers/repeat-intervals": { "get": { "operationId": "tiktak_customers_repeat_intervals", "summary": "Distribution of intervals between consecutive deals (mean/p25/median/p75/histogram).", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/clients/ltv":                { "get": { "operationId": "tiktak_clients_ltv", "summary": "Per-client LTV ranking across UNION(deals_act, deals_arch). No PII.", "parameters": [ { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/geo/clients-by-city": { "get": { "operationId": "tiktak_geo_clients_by_city", "summary": "Distinct clients × deals × revenue by trimmed/lower-cased city.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/locations/performance": { "get": { "operationId": "tiktak_locations_performance", "summary": "Per-period × per-office revenue, deals, issuance_events. Office attribution via sub_deal.place + delivery_yn (per-payment). office_id=0 is the Курьер pseudo-office.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/locations/lifecycle":   { "get": { "operationId": "tiktak_locations_lifecycle", "summary": "Office full lifecycle: first/last activity date, total revenue, currently_active flag.", "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/categories/seasonality": { "get": { "operationId": "tiktak_categories_seasonality", "summary": "Monthly seasonality_index for a business category over the last N years.", "parameters": [ { "$ref": "#/components/parameters/category" }, { "$ref": "#/components/parameters/years" }, { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/categories/performance": { "get": { "operationId": "tiktak_categories_performance", "summary": "Per-category deals + revenue + active models. Revenue pre-aggregated per item to avoid M:N inflation.", "parameters": [ { "$ref": "#/components/parameters/include_carnival" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/carnival/funnel":      { "get": { "operationId": "tiktak_carnival_funnel", "summary": "Carnival booking funnel: bookings → approved → issued → returned. Source: karn_brons + karn_brons_arch (separate from regular rentals).", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/carnival/seasonality": { "get": { "operationId": "tiktak_carnival_seasonality", "summary": "Monthly carnival seasonality_index. December is the peak.", "parameters": [ { "$ref": "#/components/parameters/years" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },
    "/carnival/revenue":     { "get": { "operationId": "tiktak_carnival_revenue", "summary": "Per-period carnival revenue by payment channel (k1/k2/terminal/bank). NOTE: this is the karn_brons pre-booking system — separate from /finance/revenue which sums rent_sub_deals. DO NOT sum both — that double-counts carnival revenue.", "parameters": [ { "$ref": "#/components/parameters/from" }, { "$ref": "#/components/parameters/to" }, { "$ref": "#/components/parameters/granularity" } ], "responses": { "200": { "$ref": "#/components/responses/Envelope" } } } },

    "/export/monthly/{topic}": {
      "get": {
        "operationId": "tiktak_export_monthly",
        "summary": "Streaming CSV export. Topics: operations, revenue, pnl, traffic. Column layout matches data/monthly/_schema.md.",
        "parameters": [
          { "in": "path", "name": "topic", "required": true, "schema": { "type": "string", "enum": ["operations","revenue","pnl","traffic"] } },
          { "$ref": "#/components/parameters/from" },
          { "$ref": "#/components/parameters/to" }
        ],
        "responses": {
          "200": { "description": "CSV stream (text/csv; charset=UTF-8).", "content": { "text/csv": { "schema": { "type": "string" } } } },
          "404": { "description": "Unknown topic." }
        }
      }
    }
  }
}
