{
    "openapi": "3.0.3",
    "info": {
        "title": "TikTak.by MCP Analytics API",
        "version": "2.3.0",
        "description": "Read-only analytics API powering the local MCP server (tiktak-mcp). All endpoints return a `{query, data, meta}` envelope. All amounts are in BYN.\n\n## Methodology (locked 2026-05-14)\n\nNumbers reproduce the legacy admin reports /bb/reports.php, /bb/sales_breakdown.php, /bb/dohrash2.php, /bb/cat_analysis.php:\n\n- **Revenue** = SUM(r_paid + delivery_paid) over UNION(rent_sub_deals_act, rent_sub_deals_arch), filtered by `acc_date` (accounting date — when the payment landed). Not by parent deal's `cr_time`.\n- **Deal/return counts** read UNION(rent_deals_act, rent_deals_arch). The `_act` table holds ~430 currently-open deals; querying only `_arch` would miss them.\n- **Office attribution** uses sub_deal.place + delivery_yn (per-payment), not deal.first_rent_place (per-deal). A deal opened at office 1 but extended at office 2 contributes to BOTH.\n- **Carnival** items are detected via tovar_rent_cat.cat_type=1. Numeric endpoints accept `include_carnival` (default true). When include_carnival=true /finance/pnl still splits revenue into revenue_carnival_byn / revenue_non_carnival_byn.\n- **Inventory** at date X counts both tovar_rent_items (buy_date <= X) and tovar_rent_items_arch (buy_date <= X AND arch_time >= X) — matches tovar::getTovNumberForCatsForDate.\n- **/inventory/utilization** denominator uses average of unit counts at period start and end.\n\n## Notes on amount serialization\n\nAmount fields suffixed `_byn` are returned either as JSON numbers or as decimal strings, depending on the endpoint:\n- Endpoints that compute the amount in PHP (e.g. /finance/pnl rolls up expense buckets and casts to float) return numbers.\n- Endpoints that pass MariaDB ROUND(..., 2) results straight through (DECIMAL columns) return JSON strings such as `\"424231.72\"`. Always parse `_byn` fields as numeric.\n\nAccess: Bearer token (MCP_API_TOKEN), GeoIP-restricted to BY/RU, rate-limited to 60 req/min."
    },
    "servers": [
        {
            "url": "https://tiktak.by/api/mcp/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "parameters": {
            "from": {
                "in": "query",
                "name": "from",
                "schema": {
                    "type": "string",
                    "format": "date"
                },
                "description": "Period start (ISO date). Default: 12 months ago."
            },
            "to": {
                "in": "query",
                "name": "to",
                "schema": {
                    "type": "string",
                    "format": "date"
                },
                "description": "Period end (ISO date). Default: today."
            },
            "granularity": {
                "in": "query",
                "name": "granularity",
                "schema": {
                    "type": "string",
                    "enum": [
                        "day",
                        "week",
                        "month",
                        "quarter",
                        "year"
                    ],
                    "default": "month"
                }
            },
            "category": {
                "in": "query",
                "name": "category",
                "schema": {
                    "oneOf": [
                        {
                            "type": "string"
                        },
                        {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    ]
                },
                "description": "Single category slug, or comma-separated list/array of slugs (e.g. 'children,medical'). Default: 'all'."
            },
            "segment": {
                "in": "query",
                "name": "segment",
                "schema": {
                    "type": "string",
                    "enum": [
                        "all",
                        "b2c",
                        "b2b"
                    ],
                    "default": "all"
                }
            },
            "region": {
                "in": "query",
                "name": "region",
                "schema": {
                    "type": "string",
                    "enum": [
                        "all",
                        "belarus",
                        "minsk",
                        "vitebsk",
                        "grodno",
                        "mogilev",
                        "gomel",
                        "brest"
                    ],
                    "default": "all"
                }
            },
            "location": {
                "in": "query",
                "name": "location",
                "schema": {
                    "type": "string"
                },
                "description": "Office id (1..) for non-courier sub-deals (sub_deal.place=N AND delivery_yn != '1'), 'courier' for delivery_yn='1', or 'all'."
            },
            "channel": {
                "in": "query",
                "name": "channel",
                "schema": {
                    "type": "string"
                },
                "description": "'cash' (channels 1..4 + cur), 'bank', 'all', or exact value."
            },
            "years": {
                "in": "query",
                "name": "years",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 11,
                    "default": 5
                }
            },
            "days": {
                "in": "query",
                "name": "days",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "default": 90
                }
            },
            "include_carnival": {
                "in": "query",
                "name": "include_carnival",
                "schema": {
                    "type": "boolean",
                    "default": true
                },
                "description": "If false, exclude items in carnival categories (tovar_rent_cat.cat_type=1). Truthy/falsy strings accepted ('true','1','yes' vs 'false','0','no','off')."
            }
        },
        "schemas": {
            "Envelope": {
                "type": "object",
                "required": [
                    "query",
                    "data",
                    "meta"
                ],
                "properties": {
                    "query": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Echo of the request parameters with defaults filled in."
                    },
                    "data": {
                        "description": "Endpoint-specific payload (array, object, or scalar)."
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "total_rows": {
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            },
                            "currency": {
                                "type": "string",
                                "example": "BYN"
                            },
                            "data_freshness": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "warnings": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Warning"
                                }
                            }
                        }
                    }
                }
            },
            "Warning": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Optional decisions_log.md reference, e.g. D-OPEN-FY2025."
                    }
                }
            },
            "AmountBYN": {
                "description": "BYN monetary amount. May be a JSON number (when the controller casts to float) or a decimal string such as \"424231.72\" (when MariaDB ROUND(...,2) is passed through directly). Always parse as numeric.",
                "oneOf": [
                    {
                        "type": "number"
                    },
                    {
                        "type": "string"
                    }
                ],
                "nullable": true
            },
            "Ratio": {
                "description": "Conversion ratio in [0..1]. Null when the denominator is zero.",
                "type": [
                    "number",
                    "null"
                ]
            },
            "HealthData": {
                "type": "object",
                "required": [
                    "status",
                    "version",
                    "timestamp"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "example": "ok"
                    },
                    "version": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "MetaCategoriesData": {
                "type": "object",
                "required": [
                    "business_categories",
                    "detailed_categories"
                ],
                "properties": {
                    "business_categories": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "url_slug": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "razdel_id": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "available": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "detailed_categories": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "cat_id": {
                                    "type": "integer"
                                },
                                "cat_name": {
                                    "type": "string"
                                },
                                "cat_folder": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "cat_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "cat_order": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "razdel": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "MetaLocationRow": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "type": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "number": {
                        "type": [
                            "integer",
                            "string",
                            "null"
                        ]
                    },
                    "name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "short_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "active": {
                        "type": [
                            "integer",
                            "boolean"
                        ]
                    },
                    "first_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "MetaItemRow": {
                "type": "object",
                "description": "Row for /meta/expense-items and /meta/income-items.",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "sort_order": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "bank_yn": {
                        "type": [
                            "integer",
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "MetaDataFreshnessData": {
                "type": "object",
                "properties": {
                    "tables": {
                        "type": "object",
                        "properties": {
                            "rent_deals_arch": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "doh_rash": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "karn_brons": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "clients": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "rent_orders_arch": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            }
                        }
                    },
                    "max": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    }
                }
            },
            "FinancePnlRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_delivery_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_non_carnival_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_carnival_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "expenses_total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "cogs_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_payroll_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_marketing_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_admin_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "taxes_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "financial_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "ebitda_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "FinanceRevenueRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "delivery_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    }
                }
            },
            "FinanceRevenueByCategoryRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "category_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subcategory": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "avg_deal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_rental_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average deal duration in days for this category (full deal, from start_date to return_date), averaged across rent_deals_act + rent_deals_arch for deals starting in the period. Null if no deals."
                    },
                    "avg_first_rent_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average duration of the first-issuance sub-deal in days (sub-deal type IN first_rent, takeaway_plan). Computed from UNIX timestamps sd.to - sd.from, divided by 86400. Null if no first-rent sub-deals in period."
                    }
                }
            },
            "FinanceExpensesRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "item_code": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "doh_rash.type2 (expense item code, see /meta/expense-items)."
                    },
                    "channel": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "amount_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "transactions": {
                        "type": "integer"
                    }
                }
            },
            "FinanceCashFlowRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "kassa": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "inflow_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "outflow_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "net_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "shift_in_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "shift_out_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "transactions": {
                        "type": "integer"
                    }
                }
            },
            "OperationsFunnelData": {
                "type": "object",
                "description": "May be `[]` (empty array) when category resolves to no razdel.",
                "properties": {
                    "leads": {
                        "type": "object",
                        "properties": {
                            "online_orders": {
                                "type": "integer"
                            },
                            "phone_calls": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            }
                        }
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "deals_by_source": {
                        "type": "object",
                        "description": "Deal counts keyed by utm_source; 'direct' when no UTM attribution found.",
                        "additionalProperties": {
                            "type": "integer"
                        }
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "renewal_events": {
                        "type": "integer"
                    },
                    "sub_deals": {
                        "type": "integer"
                    },
                    "returns": {
                        "type": "integer"
                    },
                    "conversion_rates": {
                        "type": "object",
                        "properties": {
                            "lead_to_deal": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "deal_to_sub_avg": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "deal_to_return": {
                                "$ref": "#/components/schemas/Ratio"
                            }
                        }
                    }
                }
            },
            "OperationsTimelineRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "online_orders": {
                        "type": "integer"
                    },
                    "phone_calls": {
                        "type": "integer"
                    },
                    "leads_total": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "sub_deals": {
                        "type": "integer"
                    },
                    "returns": {
                        "type": "integer"
                    },
                    "cr_lead_to_deal": {
                        "$ref": "#/components/schemas/Ratio"
                    },
                    "cr_deal_to_sub": {
                        "$ref": "#/components/schemas/Ratio"
                    },
                    "cr_deal_to_return": {
                        "$ref": "#/components/schemas/Ratio"
                    }
                }
            },
            "OperationsByCategoryRow": {
                "type": "object",
                "properties": {
                    "razdel_id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "url_slug": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "online_orders": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "OperationsByLocationRow": {
                "type": "object",
                "properties": {
                    "office_id": {
                        "type": "integer",
                        "description": "0 = synthetic 'Курьер' pseudo-office (delivery_yn='1' sub-deals)."
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "'office', 'courier', or null when offices row is missing."
                    },
                    "office_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "renewal_events": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "InventoryFreeTreeData": {
                "type": "array",
                "description": "Catalog tree: section → subsection → category → model.",
                "items": {
                    "type": "object",
                    "properties": {
                        "section_id": {
                            "type": "integer"
                        },
                        "section_name": {
                            "type": "string"
                        },
                        "section_url": {
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "subsections": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "subsection_id": {
                                        "type": "integer"
                                    },
                                    "subsection_name": {
                                        "type": "string"
                                    },
                                    "subsection_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "cat_id": {
                                                    "type": "integer"
                                                },
                                                "cat_name": {
                                                    "type": "string"
                                                },
                                                "cat_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "total_units": {
                                                    "type": "integer",
                                                    "description": "Sum of free_units across all models in this category."
                                                },
                                                "models": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "model_id": {
                                                                "type": "integer"
                                                            },
                                                            "model_name": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "model_url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "free_units": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "InventoryPricingRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "model_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "category_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "section": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subsection": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "price_per_day_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_week_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_month_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_day_calc_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "min_rental_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "active_units": {
                        "type": "integer"
                    }
                }
            },
            "InventoryProfitabilityRow": {
                "type": "object",
                "properties": {
                    "item_id": {
                        "type": "integer"
                    },
                    "item_inv_n": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "model_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "buy_date": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Unix timestamp."
                    },
                    "buy_date_fmt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "buy_price_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "profit_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "current_status": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "InventoryUtilizationRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units_at_from": {
                        "type": "integer",
                        "description": "Historical unit count at period start (active + alive-archived)."
                    },
                    "units_at_to": {
                        "type": "integer",
                        "description": "Historical unit count at period end."
                    },
                    "avg_units": {
                        "type": "number",
                        "description": "(units_at_from + units_at_to) / 2 — utilization denominator."
                    },
                    "deals_in_period": {
                        "type": "integer"
                    },
                    "rented_days": {
                        "type": "number"
                    },
                    "utilization": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                    },
                    "avg_rental_days_per_deal": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average deal duration per deal in days for this model (rented_days / deals_in_period). Zero if no deals."
                    },
                    "avg_first_rent_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average duration of the initial issuance sub-deal in days (sub-deal type IN first_rent, takeaway_plan). Computed from sd.to - sd.from (UNIX seconds) / 86400. Null if the model had no first-rent sub-deals in the period."
                    }
                }
            },
            "InventoryTurnoverRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "turnover": {
                        "type": [
                            "number",
                            "null"
                        ]
                    }
                }
            },
            "InventoryIdleRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units": {
                        "type": "integer"
                    },
                    "last_deal_ts": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Unix timestamp of the last deal touching this model. Null = never."
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "days_idle": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "CustomersTimelineRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "new_clients": {
                        "type": "integer"
                    },
                    "active_clients": {
                        "type": "integer"
                    },
                    "returning_clients": {
                        "type": "integer"
                    },
                    "new_active_clients": {
                        "type": "integer"
                    }
                }
            },
            "CustomersCohortRow": {
                "type": "object",
                "properties": {
                    "cohort": {
                        "type": "string",
                        "example": "2024-03"
                    },
                    "size": {
                        "type": "integer"
                    },
                    "retention": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "period": {
                                    "type": "string",
                                    "example": "2024-04"
                                },
                                "active": {
                                    "type": "integer"
                                },
                                "rate": {
                                    "$ref": "#/components/schemas/Ratio"
                                }
                            }
                        }
                    }
                }
            },
            "CustomersRepeatIntervalsData": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer"
                    },
                    "mean_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "min_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "max_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "p25_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "median_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "p75_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "histogram": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "label": {
                                    "type": "string",
                                    "example": "30-90d"
                                },
                                "lo": {
                                    "type": "integer"
                                },
                                "hi": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "ClientsLtvRow": {
                "type": "object",
                "properties": {
                    "client_id": {
                        "type": [
                            "integer",
                            "string"
                        ]
                    },
                    "client_city": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "client_status": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "client_since": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "ltv_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_deal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "first_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "active_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "GeoClientsByCityRow": {
                "type": "object",
                "properties": {
                    "city_norm": {
                        "type": "string",
                        "description": "lower-cased + trimmed clients.city, or '(unknown)'."
                    },
                    "unique_clients": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "LocationsPerformanceRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_id": {
                        "type": "integer",
                        "description": "0 = synthetic 'Курьер' pseudo-office."
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "'office', 'courier', or null."
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "unique_clients_proxy": {
                        "type": "integer",
                        "description": "DISTINCT deal_id of issuance sub-deals — proxy for unique customers visiting that office in that period."
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_payment_byn": {
                        "$ref": "#/components/schemas/AmountBYN",
                        "description": "Average sub-deal payment (NOT average per deal)."
                    }
                }
            },
            "LocationsLifecycleRow": {
                "type": "object",
                "properties": {
                    "office_id": {
                        "type": "integer"
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "currently_active": {
                        "type": [
                            "integer",
                            "boolean"
                        ]
                    },
                    "first_activity_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date",
                        "description": "Earliest sub_deal.acc_date for this office. Renamed from first_deal_date in v2.0.0."
                    },
                    "last_activity_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date",
                        "description": "Latest sub_deal.acc_date for this office. Renamed from last_deal_date in v2.0.0."
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "active_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "CategoriesSeasonalityRow": {
                "type": "object",
                "properties": {
                    "month_num": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                    },
                    "month_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "avg_deals_per_year": {
                        "type": "number"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "years_covered": {
                        "type": "integer"
                    },
                    "seasonality_index": {
                        "type": "number",
                        "description": "deals / (totalDeals / monthsObserved). 1.0 = average month; 6.7 = December for costumes."
                    }
                }
            },
            "CategoriesPerformanceRow": {
                "type": "object",
                "properties": {
                    "cat_id": {
                        "type": "integer"
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subsection_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "section_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "unique_clients": {
                        "type": "integer"
                    },
                    "avg_payment_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "active_models": {
                        "type": "integer"
                    },
                    "units_rented": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN",
                        "description": "Pre-aggregated per item to avoid M:N inflation through subrazdel_category × razdel_subrazdel."
                    },
                    "issuance_events": {
                        "type": "integer"
                    }
                }
            },
            "CarnivalFunnelData": {
                "type": "object",
                "properties": {
                    "bookings": {
                        "type": "integer"
                    },
                    "approved": {
                        "type": "integer"
                    },
                    "issued": {
                        "type": "integer"
                    },
                    "returned": {
                        "type": "integer"
                    },
                    "unanswered": {
                        "type": "integer"
                    },
                    "conversion_rates": {
                        "type": "object",
                        "properties": {
                            "booking_to_approved": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "approved_to_issued": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "issued_to_returned": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "booking_to_issued": {
                                "$ref": "#/components/schemas/Ratio"
                            }
                        }
                    }
                }
            },
            "CarnivalSeasonalityRow": {
                "type": "object",
                "properties": {
                    "month_num": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                    },
                    "month_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bookings": {
                        "type": "integer"
                    },
                    "issued": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_bookings_per_year": {
                        "type": "number"
                    },
                    "years_covered": {
                        "type": "integer"
                    },
                    "seasonality_index": {
                        "type": "number"
                    }
                }
            },
            "CarnivalRevenueRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bookings": {
                        "type": "integer"
                    },
                    "revenue_k1_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_k2_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_terminal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_bank_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "MarketingConversionRow": {
                "type": "object",
                "description": "A single conversion event from tiktak_utms with UTM attribution and entity details.",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Conversion timestamp (tiktak_utms.created_at)."
                    },
                    "entity_type": {
                        "type": "string",
                        "enum": [
                            "zvonki",
                            "rent_orders",
                            "karn_brons",
                            "kb_zayavki",
                            "phone_click",
                            "add_to_cart_click"
                        ],
                        "description": "Conversion type. zvonki=callback request; rent_orders=online booking (standard items); karn_brons=carnival costume booking; kb_zayavki=waitlist request (out-of-stock); phone_click/add_to_cart_click=JS frontend events (entity_id=0, fio/phone/status=null)."
                    },
                    "utm_source": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "e.g. 'google', 'yandex', 'vk'."
                    },
                    "utm_medium": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "e.g. 'cpc', 'social', 'organic'."
                    },
                    "utm_campaign": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "utm_term": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "fio": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Customer name from joined entity. CONCAT_WS(' ', family, name, otch) for rent_orders; fio for karn_brons; z_name for zvonki. Null for frontend click events."
                    },
                    "phone": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Customer phone from joined entity. Null for frontend click events."
                    },
                    "info": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Free-text info from joined entity (zvonki.info or kb_zayavki.info). Null for others."
                    },
                    "status": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Entity status (zvonki.status, rent_orders.status, karn_brons.status). Null for kb_zayavki and click events."
                    },
                    "model_id": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Model ID for rent_orders (from rent_orders.model_id) and kb_zayavki (from kb_zayavki.model_id). Null for all other entity types."
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Human-readable model name from rent_model_web.item_name_main. Populated for rent_orders and kb_zayavki. Null for all other entity types."
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Category ID from rent_orders.cat_id. Only populated for rent_orders. Null for all other entity types (including kb_zayavki, where cat_id is not stored)."
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Category name from tovar_rent_cat.rent_cat_name. Only populated for rent_orders. Null for all other entity types."
                    }
                }
            },
            "RedirectRow": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 42
                    },
                    "source_url": {
                        "type": "string",
                        "example": "/ru/old-path"
                    },
                    "target_url": {
                        "type": "string",
                        "example": "/ru/new-path"
                    },
                    "status_code": {
                        "type": "integer",
                        "enum": [
                            301,
                            302
                        ],
                        "example": 301
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": true
                    },
                    "is_regex": {
                        "type": "boolean",
                        "example": false
                    },
                    "comment": {
                        "type": "string",
                        "nullable": true,
                        "example": "SEO cleanup"
                    },
                    "hit_count": {
                        "type": "integer",
                        "example": 0
                    },
                    "last_hit_at": {
                        "type": "string",
                        "nullable": true,
                        "example": "2026-05-26 12:00:00"
                    }
                },
                "required": [
                    "id",
                    "source_url",
                    "target_url",
                    "status_code",
                    "is_active",
                    "is_regex",
                    "hit_count"
                ]
            },
            "RedirectInput": {
                "type": "object",
                "required": [
                    "source_url",
                    "target_url"
                ],
                "properties": {
                    "source_url": {
                        "type": "string",
                        "maxLength": 2000,
                        "example": "/ru/old-path"
                    },
                    "target_url": {
                        "type": "string",
                        "maxLength": 2000,
                        "example": "/ru/new-path"
                    },
                    "status_code": {
                        "type": "integer",
                        "enum": [
                            301,
                            302
                        ],
                        "default": 301
                    },
                    "is_active": {
                        "type": "boolean",
                        "default": true
                    },
                    "is_regex": {
                        "type": "boolean",
                        "default": false
                    },
                    "comment": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 1000
                    }
                }
            },
            "PagesProductRow": {
                "type": "object",
                "description": "One L3 product page. `current_values`/`default_values` are present only with fields=full.",
                "properties": {
                    "level": {
                        "type": "string",
                        "enum": [
                            "product"
                        ]
                    },
                    "slug": {
                        "type": "string",
                        "description": "rent_model_web.page_addr — last URL segment."
                    },
                    "model_id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "description": "item_name_main; also the page <h1>."
                    },
                    "full_url": {
                        "type": "string",
                        "nullable": true,
                        "description": "Canonical path, resolved through tovar_rent_cat.main_sub_razdel_id → sub_razdel.main_razdel_id (the chain the site uses for <link rel=canonical> and sitemap.xml). null when the category is not wired into the catalog tree — the page then has no URL at all."
                    },
                    "razdel_slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "subrazdel_slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "category_slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "show",
                            "not_show"
                        ]
                    },
                    "active_units": {
                        "type": "integer",
                        "description": "Rows in tovar_rent_items for this model."
                    },
                    "is_indexable": {
                        "type": "boolean",
                        "description": "status=show AND canonical URL exists AND active_units>0 — the same rule sitemap.xml applies."
                    },
                    "seo_score": {
                        "type": "object",
                        "properties": {
                            "has_meta_title": {
                                "type": "boolean"
                            },
                            "has_meta_description": {
                                "type": "boolean"
                            },
                            "has_h1": {
                                "type": "boolean"
                            },
                            "has_l2_name": {
                                "type": "boolean"
                            },
                            "has_main_pic_alt": {
                                "type": "boolean"
                            },
                            "has_main_pic_title": {
                                "type": "boolean"
                            },
                            "has_l2_pic_alt": {
                                "type": "boolean"
                            },
                            "has_description": {
                                "type": "boolean"
                            },
                            "has_breadcrumb_name": {
                                "type": "boolean"
                            },
                            "has_faq": {
                                "type": "boolean"
                            }
                        }
                    },
                    "updated_at": {
                        "type": "string",
                        "nullable": true
                    },
                    "current_values": {
                        "type": "object",
                        "description": "Current stored values; null means the field is empty.",
                        "properties": {
                            "meta_title": {
                                "type": "string",
                                "nullable": true,
                                "maxLength": 70
                            },
                            "meta_description": {
                                "type": "string",
                                "nullable": true,
                                "maxLength": 160
                            },
                            "h1": {
                                "type": "string",
                                "nullable": true,
                                "description": "rent_model_web.item_name_main — the <h1> of the product page."
                            },
                            "l2_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "Card title on listing pages."
                            },
                            "main_pic_alt": {
                                "type": "string",
                                "nullable": true
                            },
                            "main_pic_title": {
                                "type": "string",
                                "nullable": true,
                                "description": "title= attribute of the main image (m_a_title)."
                            },
                            "l2_pic_alt": {
                                "type": "string",
                                "nullable": true
                            },
                            "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "Body copy (HTML). Not sanitised."
                            },
                            "breadcrumb_name": {
                                "type": "string",
                                "nullable": true
                            },
                            "faq": {
                                "type": "array",
                                "nullable": true,
                                "description": "FAQ entries rendered as FAQPage schema.org markup.",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "question": {
                                            "type": "string",
                                            "maxLength": 500
                                        },
                                        "answer": {
                                            "type": "string",
                                            "maxLength": 5000
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default_values": {
                        "type": "object",
                        "description": "Current stored values; null means the field is empty.",
                        "properties": {
                            "meta_title": {
                                "type": "string",
                                "nullable": true,
                                "maxLength": 70
                            },
                            "meta_description": {
                                "type": "string",
                                "nullable": true,
                                "maxLength": 160
                            },
                            "h1": {
                                "type": "string",
                                "nullable": true,
                                "description": "rent_model_web.item_name_main — the <h1> of the product page."
                            },
                            "l2_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "Card title on listing pages."
                            },
                            "main_pic_alt": {
                                "type": "string",
                                "nullable": true
                            },
                            "main_pic_title": {
                                "type": "string",
                                "nullable": true,
                                "description": "title= attribute of the main image (m_a_title)."
                            },
                            "l2_pic_alt": {
                                "type": "string",
                                "nullable": true
                            },
                            "description": {
                                "type": "string",
                                "nullable": true,
                                "description": "Body copy (HTML). Not sanitised."
                            },
                            "breadcrumb_name": {
                                "type": "string",
                                "nullable": true
                            },
                            "faq": {
                                "type": "array",
                                "nullable": true,
                                "description": "FAQ entries rendered as FAQPage schema.org markup.",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "question": {
                                            "type": "string",
                                            "maxLength": 500
                                        },
                                        "answer": {
                                            "type": "string",
                                            "maxLength": 5000
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "PagesProductInput": {
                "type": "object",
                "description": "Partial update. Only the keys present are written. meta_title/meta_description/*_alt/main_pic_title/breadcrumb_name are stripped of tags and quotes (they land inside <title> or an HTML attribute); description and h1 keep their markup.",
                "properties": {
                    "meta_title": {
                        "type": "string",
                        "maxLength": 70
                    },
                    "meta_description": {
                        "type": "string",
                        "maxLength": 160
                    },
                    "h1": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "l2_name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "main_pic_alt": {
                        "type": "string",
                        "maxLength": 125
                    },
                    "main_pic_title": {
                        "type": "string",
                        "maxLength": 125
                    },
                    "l2_pic_alt": {
                        "type": "string",
                        "maxLength": 125
                    },
                    "description": {
                        "type": "string"
                    },
                    "breadcrumb_name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "faq": {
                        "type": "array",
                        "nullable": true,
                        "description": "FAQ entries rendered as FAQPage schema.org markup.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "question": {
                                    "type": "string",
                                    "maxLength": 500
                                },
                                "answer": {
                                    "type": "string",
                                    "maxLength": 5000
                                }
                            }
                        }
                    }
                }
            },
            "PagesProductBulkResultRow": {
                "type": "object",
                "properties": {
                    "index": {
                        "type": "integer",
                        "description": "Position in the submitted array."
                    },
                    "slug": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "updated",
                            "unchanged",
                            "not_found",
                            "conflict",
                            "invalid"
                        ]
                    },
                    "changed_fields": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "errors": {
                        "type": "object",
                        "nullable": true
                    }
                }
            },
            "PagesHistoryRow": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "page_type": {
                        "type": "string",
                        "enum": [
                            "listing",
                            "product"
                        ]
                    },
                    "slug": {
                        "type": "string"
                    },
                    "field": {
                        "type": "string",
                        "description": "API field name, not the DB column."
                    },
                    "old_value": {
                        "type": "string",
                        "nullable": true
                    },
                    "new_value": {
                        "type": "string",
                        "nullable": true
                    },
                    "source": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string"
                    }
                }
            }
        },
        "responses": {
            "Envelope": {
                "description": "Standard envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Envelope"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Missing or invalid Bearer token."
            },
            "Forbidden": {
                "description": "Country not in allow-list."
            },
            "TooManyRequests": {
                "description": "Rate limit exceeded (60 req/min)."
            },
            "ValidationError": {
                "description": "Invalid query parameters.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "HealthEnvelope": {
                "description": "Health envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/HealthData"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "MetaCategoriesEnvelope": {
                "description": "Meta categories envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MetaCategoriesData"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "MetaLocationsEnvelope": {
                "description": "Meta locations envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MetaLocationRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "MetaItemsEnvelope": {
                "description": "Meta expense/income items envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MetaItemRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "MetaDataFreshnessEnvelope": {
                "description": "Per-table data freshness envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/MetaDataFreshnessData"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "FinancePnlEnvelope": {
                "description": "P&L envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinancePnlRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "FinanceRevenueEnvelope": {
                "description": "Revenue envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinanceRevenueRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "FinanceRevenueByCategoryEnvelope": {
                "description": "Revenue by category envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinanceRevenueByCategoryRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "FinanceExpensesEnvelope": {
                "description": "Expenses envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinanceExpensesRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "FinanceCashFlowEnvelope": {
                "description": "Cash-flow envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinanceCashFlowRow"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "OperationsFunnelEnvelope": {
                "description": "Operations funnel envelope.",
                "content": {
                    "application/json": {
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/Envelope"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OperationsFunnelData"
[...]
