{
    "openapi": "3.0.3",
    "info": {
        "title": "TikTak.by MCP Analytics API",
        "version": "2.5.0",
        "description": "Read-only analytics API powering the local MCP server (tiktak-mcp). All endpoints return a `{query, data, meta}` envelope. All amounts are in BYN.\n\n## Methodology (locked 2026-05-14)\n\nNumbers reproduce the legacy admin reports /bb/reports.php, /bb/sales_breakdown.php, /bb/dohrash2.php, /bb/cat_analysis.php:\n\n- **Revenue** = SUM(r_paid + delivery_paid) over UNION(rent_sub_deals_act, rent_sub_deals_arch), filtered by `acc_date` (accounting date — when the payment landed). Not by parent deal's `cr_time`.\n- **Deal/return counts** read UNION(rent_deals_act, rent_deals_arch). The `_act` table holds ~430 currently-open deals; querying only `_arch` would miss them.\n- **Office attribution** uses sub_deal.place + delivery_yn (per-payment), not deal.first_rent_place (per-deal). A deal opened at office 1 but extended at office 2 contributes to BOTH.\n- **Carnival** items are detected via tovar_rent_cat.cat_type=1. Numeric endpoints accept `include_carnival` (default true). When include_carnival=true /finance/pnl still splits revenue into revenue_carnival_byn / revenue_non_carnival_byn.\n- **Inventory** at date X counts both tovar_rent_items (buy_date <= X) and tovar_rent_items_arch (buy_date <= X AND arch_time >= X) — matches tovar::getTovNumberForCatsForDate.\n- **/inventory/utilization** denominator uses average of unit counts at period start and end.\n\n## Notes on amount serialization\n\nAmount fields suffixed `_byn` are returned either as JSON numbers or as decimal strings, depending on the endpoint:\n- Endpoints that compute the amount in PHP (e.g. /finance/pnl rolls up expense buckets and casts to float) return numbers.\n- Endpoints that pass MariaDB ROUND(..., 2) results straight through (DECIMAL columns) return JSON strings such as `\"424231.72\"`. Always parse `_byn` fields as numeric.\n\nAccess: Bearer token (MCP_API_TOKEN), GeoIP-restricted to BY/RU, rate-limited to 60 req/min."
    },
    "servers": [
        {
            "url": "https://tiktak.by/api/mcp/v1",
            "description": "Production"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "parameters": {
            "from": {
                "in": "query",
                "name": "from",
                "schema": {
                    "type": "string",
                    "format": "date"
                },
                "description": "Period start (ISO date). Default: 12 months ago."
            },
            "to": {
                "in": "query",
                "name": "to",
                "schema": {
                    "type": "string",
                    "format": "date"
                },
                "description": "Period end (ISO date). Default: today."
            },
            "granularity": {
                "in": "query",
                "name": "granularity",
                "schema": {
                    "type": "string",
                    "enum": [
                        "day",
                        "week",
                        "month",
                        "quarter",
                        "year"
                    ],
                    "default": "month"
                }
            },
            "category": {
                "in": "query",
                "name": "category",
                "schema": {
                    "oneOf": [
                        {
                            "type": "string"
                        },
                        {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    ]
                },
                "description": "Single category slug, or comma-separated list/array of slugs (e.g. 'children,medical'). Default: 'all'."
            },
            "segment": {
                "in": "query",
                "name": "segment",
                "schema": {
                    "type": "string",
                    "enum": [
                        "all",
                        "b2c",
                        "b2b"
                    ],
                    "default": "all"
                }
            },
            "region": {
                "in": "query",
                "name": "region",
                "schema": {
                    "type": "string",
                    "enum": [
                        "all",
                        "belarus",
                        "minsk",
                        "vitebsk",
                        "grodno",
                        "mogilev",
                        "gomel",
                        "brest"
                    ],
                    "default": "all"
                }
            },
            "location": {
                "in": "query",
                "name": "location",
                "schema": {
                    "type": "string"
                },
                "description": "Office id (1..) for non-courier sub-deals (sub_deal.place=N AND delivery_yn != '1'), 'courier' for delivery_yn='1', or 'all'."
            },
            "channel": {
                "in": "query",
                "name": "channel",
                "schema": {
                    "type": "string"
                },
                "description": "'cash' (channels 1..4 + cur), 'bank', 'all', or exact value."
            },
            "years": {
                "in": "query",
                "name": "years",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 11,
                    "default": 5
                }
            },
            "days": {
                "in": "query",
                "name": "days",
                "schema": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "default": 90
                }
            },
            "include_carnival": {
                "in": "query",
                "name": "include_carnival",
                "schema": {
                    "type": "boolean",
                    "default": true
                },
                "description": "If false, exclude items in carnival categories (tovar_rent_cat.cat_type=1). Truthy/falsy strings accepted ('true','1','yes' vs 'false','0','no','off')."
            }
        },
        "schemas": {
            "Envelope": {
                "type": "object",
                "required": [
                    "query",
                    "data",
                    "meta"
                ],
                "properties": {
                    "query": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Echo of the request parameters with defaults filled in."
                    },
                    "data": {
                        "description": "Endpoint-specific payload (array, object, or scalar)."
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "total_rows": {
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            },
                            "currency": {
                                "type": "string",
                                "example": "BYN"
                            },
                            "data_freshness": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "warnings": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Warning"
                                }
                            }
                        }
                    }
                }
            },
            "Warning": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "ref": {
                        "type": "string",
                        "description": "Optional decisions_log.md reference, e.g. D-OPEN-FY2025."
                    }
                }
            },
            "AmountBYN": {
                "description": "BYN monetary amount. May be a JSON number (when the controller casts to float) or a decimal string such as \"424231.72\" (when MariaDB ROUND(...,2) is passed through directly). Always parse as numeric.",
                "oneOf": [
                    {
                        "type": "number"
                    },
                    {
                        "type": "string"
                    }
                ],
                "nullable": true
            },
            "Ratio": {
                "description": "Conversion ratio in [0..1]. Null when the denominator is zero.",
                "type": [
                    "number",
                    "null"
                ]
            },
            "HealthData": {
                "type": "object",
                "required": [
                    "status",
                    "version",
                    "timestamp"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "example": "ok"
                    },
                    "version": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "MetaCategoriesData": {
                "type": "object",
                "required": [
                    "business_categories",
                    "detailed_categories"
                ],
                "properties": {
                    "business_categories": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "key": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "url_slug": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "razdel_id": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "available": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "detailed_categories": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "cat_id": {
                                    "type": "integer"
                                },
                                "cat_name": {
                                    "type": "string"
                                },
                                "cat_folder": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "cat_url": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "cat_order": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "razdel": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "MetaLocationRow": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "type": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "number": {
                        "type": [
                            "integer",
                            "string",
                            "null"
                        ]
                    },
                    "name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "short_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "active": {
                        "type": [
                            "integer",
                            "boolean"
                        ]
                    },
                    "first_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "MetaItemRow": {
                "type": "object",
                "description": "Row for /meta/expense-items and /meta/income-items.",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "sort_order": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "bank_yn": {
                        "type": [
                            "integer",
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "MetaDataFreshnessData": {
                "type": "object",
                "properties": {
                    "tables": {
                        "type": "object",
                        "properties": {
                            "rent_deals_arch": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "doh_rash": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "karn_brons": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "clients": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "rent_orders_arch": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            }
                        }
                    },
                    "max": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    }
                }
            },
            "FinancePnlRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_delivery_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_non_carnival_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_carnival_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "expenses_total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "cogs_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_payroll_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_marketing_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "opex_admin_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "taxes_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "financial_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "ebitda_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "FinanceRevenueRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "rent_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "delivery_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    }
                }
            },
            "FinanceRevenueByCategoryRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "category_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subcategory": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "avg_deal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_rental_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average deal duration in days for this category (full deal, from start_date to return_date), averaged across rent_deals_act + rent_deals_arch for deals starting in the period. Null if no deals."
                    },
                    "avg_first_rent_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average duration of the first-issuance sub-deal in days (sub-deal type IN first_rent, takeaway_plan). Computed from UNIX timestamps sd.to - sd.from, divided by 86400. Null if no first-rent sub-deals in period."
                    }
                }
            },
            "FinanceExpensesRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "item_code": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "doh_rash.type2 (expense item code, see /meta/expense-items)."
                    },
                    "channel": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "amount_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "transactions": {
                        "type": "integer"
                    }
                }
            },
            "FinanceCashFlowRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "kassa": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "inflow_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "outflow_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "net_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "shift_in_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "shift_out_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "transactions": {
                        "type": "integer"
                    }
                }
            },
            "FinanceEntry": {
                "type": "object",
                "description": "One row of the doh_rash income/expense ledger, in API shape (amount always a positive magnitude; direction carried by type1).",
                "properties": {
                    "dr_id": {
                        "type": "integer",
                        "description": "Primary key (doh_rash.dr_id).",
                        "example": 15321
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "description": "Accounting date (doh_rash.acc_date) — when the money moved, not when the record was created. This is the date all financial reports slice on.",
                        "example": "2026-08-01"
                    },
                    "amount": {
                        "type": "number",
                        "description": "Positive magnitude in BYN. Direction (income vs. expense) is carried entirely by type1 — the API never returns a negative amount, even though doh_rash stores expenses as a negative number internally.",
                        "example": 150.0
                    },
                    "type1": {
                        "type": "string",
                        "enum": [
                            "rash",
                            "doh"
                        ],
                        "description": "Direction: rash = expense, doh = income. Rows with type1 outside this pair (shift_plus/shift_minus, paired till-transfer rows — about 39% of doh_rash) are never returned by this API: the list endpoint filters them out server-side and GET /finance/entries/{id} 404s for one. There is no parameter to include them. They exist to keep the physical till balance in sync, a single-row edit would desynchronize it, and in this API's shape they would be actively misleading — amount is always a positive magnitude, so a transfer row summed over a page would read as income, and their type2 belongs to neither dictionary so type2_name comes back null."
                    },
                    "type2": {
                        "type": "string",
                        "description": "Article code. Dictionary depends on type1: rash_items.ri_code for expenses, doh_items.rd_code for income.",
                        "example": "zpl"
                    },
                    "type2_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Human-readable label for type2, resolved from the matching dictionary. Resolves even for inactive/retired codes, so historical rows keep a readable label; null only if the code was removed from the dictionary entirely."
                    },
                    "kassa": {
                        "type": "string",
                        "enum": [
                            "k1",
                            "k2",
                            "bank",
                            "card",
                            "safe"
                        ],
                        "description": "WHERE the money sits: k1/k2 = physical cash tills, card = card terminal, bank = bank account, safe = office safe. Paired with channel — see the channel × kassa rule in FinanceEntryInput."
                    },
                    "channel": {
                        "type": "string",
                        "description": "WHERE the transaction happened: an office number (as a string, e.g. \"2\"), \"cur\" (courier), \"bank\", or \"safe\" (office safe). Must pair validly with kassa (see FinanceEntryInput.channel description).",
                        "example": "2"
                    },
                    "info": {
                        "type": "string",
                        "description": "Free-text description of the transaction. Always non-empty."
                    },
                    "dr_name_id": {
                        "type": "integer",
                        "description": "Which employee this entry is attributed to (logpass.logpass_id). 0 = not attributed to any employee. Required (non-zero) on write when type2 is zpl or avans (salary/advance) — that's what drives the legacy per-employee salary report.",
                        "example": 0
                    },
                    "link_to": {
                        "type": "integer",
                        "description": "Always 0 for rows this API can return or write. A non-zero link_to arms a cascade delete in the legacy admin (bb/doh-rash.php ships every row's delete form with dr_id_link = link_to, and deletes BOTH ids when it is > 0, with no type1 check), so writes through this API reject any non-zero value — see FinanceEntryInput.link_to. A non-zero value here can only be legacy data written outside this API.",
                        "example": 0
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Record creation time (doh_rash.cr_time), distinct from date/acc_date. Never used for report period filtering."
                    },
                    "created_by_id": {
                        "type": "integer",
                        "description": "logpass_id of the row's creator (doh_rash.cr_who_id). For rows written through this API this is always the dedicated api_system logpass user — a client-supplied creator is never honored."
                    },
                    "created_by": {
                        "type": "string",
                        "nullable": true,
                        "description": "Display name (logpass.lp_fio) resolved from created_by_id."
                    }
                },
                "required": [
                    "dr_id",
                    "date",
                    "amount",
                    "type1",
                    "type2",
                    "kassa",
                    "channel",
                    "info",
                    "dr_name_id",
                    "link_to",
                    "created_at",
                    "created_by_id"
                ]
            },
            "FinanceEntryInput": {
                "type": "object",
                "description": "Write body for creating or patching a ledger entry. Every entry answers four questions: type1 (direction), type2 (article), channel (where it happened) and kassa (where the money sits). Only rows with type1 rash/doh can be written through this API — shift_plus/shift_minus (paired till-transfer rows) are out of scope by design, because a single-row write would desynchronize the physical till balance those pairs exist to keep in sync.",
                "required": [
                    "type1",
                    "type2",
                    "date",
                    "amount",
                    "kassa",
                    "channel",
                    "info"
                ],
                "properties": {
                    "type1": {
                        "type": "string",
                        "enum": [
                            "rash",
                            "doh"
                        ],
                        "description": "Direction: \"rash\" = expense, \"doh\" = income. This is the only whitelist this write API accepts — shift_plus/shift_minus rows cannot be created, and an existing row whose type1 is outside {rash, doh} cannot be updated or deleted through this API at all."
                    },
                    "type2": {
                        "type": "string",
                        "maxLength": 64,
                        "description": "Article code, whose dictionary depends on type1. On write it must be an is_active=1 code: rash_items.ri_code when type1=rash, doh_items.rd_code when type1=doh. (On read, type2_name resolves the label even for inactive/retired codes, so old rows stay readable — but you cannot write a new row against a retired code.)",
                        "example": "zpl"
                    },
                    "date": {
                        "type": "string",
                        "format": "date",
                        "description": "YYYY-MM-DD. Becomes the stored acc_date — the ACCOUNTING date (when the money moved), which is what every financial report slices on. This is distinct from created_at (record creation time), which the server sets and which you cannot supply.",
                        "example": "2026-08-01"
                    },
                    "amount": {
                        "type": "number",
                        "exclusiveMinimum": 0,
                        "description": "Positive magnitude in BYN, at most 2 decimal places (decimal(11,2) column). Always positive in both requests and responses — direction is carried by type1, not by the sign of amount. The server negates the value internally for storage when type1=rash; that sign-flip is an internal storage detail this API contract hides from callers.",
                        "example": 150.0
                    },
                    "kassa": {
                        "type": "string",
                        "enum": [
                            "k1",
                            "k2",
                            "bank",
                            "card",
                            "safe"
                        ],
                        "description": "WHERE the money sits after this transaction. Fixed whitelist: k1/k2 (physical cash tills), card (card terminal), bank (bank account), safe (office safe). Must form a valid pair with channel: kassa=\"bank\" is only valid together with channel=\"bank\"; kassa=\"safe\" is only valid together with channel=\"safe\" — the office safe is a channel of its own, cash that sits in the safe rather than in a till; bb/doh-rash.php moves money in and out of it only by a transfer between kassas. kassa in {k1, k2, card} requires channel to be a live office number or \"cur\" (courier). A mismatched pair (e.g. channel=\"bank\" with kassa=\"k2\") is rejected — money cannot be simultaneously in the bank account and a physical till."
                    },
                    "channel": {
                        "type": "string",
                        "description": "WHERE the transaction happened: an office number as a string (existence-gated against the offices table — a closed-but-existing office is still a valid channel, it need not be currently active), \"cur\" (courier), \"bank\", or \"safe\" (office safe). See kassa's description for the channel × kassa pairing rule this must satisfy.",
                        "example": "2"
                    },
                    "info": {
                        "type": "string",
                        "maxLength": 2000,
                        "description": "Free-text description. Required and must be non-empty after trimming whitespace — this guards against silent TEXT-column truncation under this app's empty sql_mode. Max 2000 characters."
                    },
                    "dr_name_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Which employee this entry is attributed to (logpass.logpass_id). REQUIRED (and must reference an existing logpass row) when type2 is \"zpl\" or \"avans\" (salary/advance) — omitting it there silently breaks the legacy per-employee salary report. Optional otherwise, defaulting to 0 (not attributed to an employee); if supplied and non-zero it must still reference an existing logpass row.",
                        "default": 0
                    },
                    "link_to": {
                        "type": "integer",
                        "nullable": true,
                        "enum": [
                            0,
                            null
                        ],
                        "default": 0,
                        "description": "MUST be 0 (the default). Any other value is rejected — do not loosen this without reading why. The legacy admin (bb/doh-rash.php) renders EVERY row's delete form with a hidden dr_id_link set to that row's link_to, and its delete handler runs DELETE FROM doh_rash WHERE dr_id IN ($dr_id, $dr_id_link) whenever that value is > 0 — with no type1 check, behind a confirm dialog that says \"эту операцию\" (singular). A rash/doh row carrying a non-zero link_to therefore silently destroys a second, unrelated row the next time a human deletes it in the admin, possibly one half of a shift_plus/shift_minus pair, corrupting a till balance. Rejecting only links that point AT a shift row would not close this: the legacy cascade deletes whatever dr_id it is handed. Linked/paired operations are out of scope for this API. Omitting the field (or sending null) is equivalent to 0."
                    }
                }
            },
            "FinanceEntryHistoryRow": {
                "type": "object",
                "description": "One doh_rash_history journal row. Only 'update' and 'delete' actions are ever journalled — a newly created row is already self-describing via its own created_by/created_at, so inserts are not journalled.",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Journal row primary key."
                    },
                    "dr_id": {
                        "type": "integer",
                        "description": "The doh_rash row this journal entry is about. For a delete, this id no longer exists in doh_rash — the journal is the only remaining record of it."
                    },
                    "action": {
                        "type": "string",
                        "enum": [
                            "update",
                            "delete"
                        ],
                        "description": "What happened. create is never journalled (see schema description)."
                    },
                    "before": {
                        "type": "object",
                        "nullable": true,
                        "description": "Full snapshot of the doh_rash row's raw storage columns before the change (whole-row, not a diff). This is the recovery mechanism for a mistaken edit or delete — reconstruct the row from here."
                    },
                    "after": {
                        "type": "object",
                        "nullable": true,
                        "description": "Full snapshot of the row's raw storage columns after the change. Null for a delete action (there is no \"after\" row)."
                    },
                    "actor_user_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "logpass_id of who made the change. For changes made through this API, always the api_system logpass user."
                    },
                    "source": {
                        "type": "string",
                        "description": "Where the change came from, e.g. \"mcp_api\"."
                    },
                    "ip": {
                        "type": "string",
                        "nullable": true,
                        "description": "Request IP that made the change."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the journal row was written (not the accounting date of the underlying entry)."
                    }
                },
                "required": [
                    "id",
                    "dr_id",
                    "action",
                    "before",
                    "after",
                    "source",
                    "created_at"
                ]
            },
            "FinanceEntryBatchResultRow": {
                "type": "object",
                "description": "Per-item outcome of a POST /finance/entries batch.",
                "properties": {
                    "index": {
                        "type": "integer",
                        "description": "Position of this item in the submitted entries array."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "created",
                            "invalid"
                        ],
                        "description": "Whether this specific item was written. One invalid item never blocks the others in the same batch."
                    },
                    "dr_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "New row's primary key when status=created; null when status=invalid."
                    },
                    "errors": {
                        "type": "object",
                        "nullable": true,
                        "description": "field => message map when status=invalid; null when status=created."
                    }
                }
            },
            "OperationsFunnelData": {
                "type": "object",
                "description": "May be `[]` (empty array) when category resolves to no razdel.",
                "properties": {
                    "leads": {
                        "type": "object",
                        "properties": {
                            "online_orders": {
                                "type": "integer"
                            },
                            "phone_calls": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            }
                        }
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "deals_by_source": {
                        "type": "object",
                        "description": "Deal counts keyed by utm_source; 'direct' when no UTM attribution found.",
                        "additionalProperties": {
                            "type": "integer"
                        }
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "renewal_events": {
                        "type": "integer"
                    },
                    "sub_deals": {
                        "type": "integer"
                    },
                    "returns": {
                        "type": "integer"
                    },
                    "conversion_rates": {
                        "type": "object",
                        "properties": {
                            "lead_to_deal": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "deal_to_sub_avg": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "deal_to_return": {
                                "$ref": "#/components/schemas/Ratio"
                            }
                        }
                    }
                }
            },
            "OperationsTimelineRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "online_orders": {
                        "type": "integer"
                    },
                    "phone_calls": {
                        "type": "integer"
                    },
                    "leads_total": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "sub_deals": {
                        "type": "integer"
                    },
                    "returns": {
                        "type": "integer"
                    },
                    "cr_lead_to_deal": {
                        "$ref": "#/components/schemas/Ratio"
                    },
                    "cr_deal_to_sub": {
                        "$ref": "#/components/schemas/Ratio"
                    },
                    "cr_deal_to_return": {
                        "$ref": "#/components/schemas/Ratio"
                    }
                }
            },
            "OperationsByCategoryRow": {
                "type": "object",
                "properties": {
                    "razdel_id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "url_slug": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "online_orders": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "OperationsByLocationRow": {
                "type": "object",
                "properties": {
                    "office_id": {
                        "type": "integer",
                        "description": "0 = synthetic 'Курьер' pseudo-office (delivery_yn='1' sub-deals)."
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "'office', 'courier', or null when offices row is missing."
                    },
                    "office_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "renewal_events": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "OperationsDealsByModelRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "period": {
                        "type": "string",
                        "description": "Format depends on granularity, e.g. '2024-01' for month, '2024-W24' for week, '2024-Q2' for quarter, '2024' for year."
                    },
                    "deals_started": {
                        "type": "integer"
                    },
                    "units_at_period_end": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Historical unit count at period end (active items with buy_date<=ts, plus archived items still alive at ts). Null when the requested range spans more than 60 periods — see meta.warnings."
                    },
                    "deals_per_unit": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "deals_started / units_at_period_end, rounded to 2 decimals. Null when units_at_period_end is null or 0."
                    }
                }
            },
            "InventoryFreeTreeData": {
                "type": "array",
                "description": "Catalog tree: section → subsection → category → model.",
                "items": {
                    "type": "object",
                    "properties": {
                        "section_id": {
                            "type": "integer"
                        },
                        "section_name": {
                            "type": "string"
                        },
                        "section_url": {
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "subsections": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "subsection_id": {
                                        "type": "integer"
                                    },
                                    "subsection_name": {
                                        "type": "string"
                                    },
                                    "subsection_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "cat_id": {
                                                    "type": "integer"
                                                },
                                                "cat_name": {
                                                    "type": "string"
                                                },
                                                "cat_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "total_units": {
                                                    "type": "integer",
                                                    "description": "Sum of free_units across all models in this category."
                                                },
                                                "models": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "model_id": {
                                                                "type": "integer"
                                                            },
                                                            "model_name": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "model_url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "free_units": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "InventoryPricingRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "model_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "category_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "category_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "section": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subsection": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "price_per_day_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_week_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_month_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "price_per_day_calc_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "min_rental_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "active_units": {
                        "type": "integer"
                    }
                }
            },
            "InventoryProfitabilityRow": {
                "type": "object",
                "properties": {
                    "item_id": {
                        "type": "integer"
                    },
                    "item_inv_n": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "model_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "buy_date": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Unix timestamp."
                    },
                    "buy_date_fmt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "buy_price_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "profit_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "current_status": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "InventoryUtilizationRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units_at_from": {
                        "type": "integer",
                        "description": "Historical unit count at period start (active + alive-archived)."
                    },
                    "units_at_to": {
                        "type": "integer",
                        "description": "Historical unit count at period end."
                    },
                    "avg_units": {
                        "type": "number",
                        "description": "(units_at_from + units_at_to) / 2 — utilization denominator."
                    },
                    "deals_in_period": {
                        "type": "integer"
                    },
                    "rented_days": {
                        "type": "number"
                    },
                    "utilization": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                    },
                    "avg_rental_days_per_deal": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average deal duration per deal in days for this model (rented_days / deals_in_period). Zero if no deals."
                    },
                    "avg_first_rent_days": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Average duration of the initial issuance sub-deal in days (sub-deal type IN first_rent, takeaway_plan). Computed from sd.to - sd.from (UNIX seconds) / 86400. Null if the model had no first-rent sub-deals in the period."
                    }
                }
            },
            "InventoryTurnoverRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "turnover": {
                        "type": [
                            "number",
                            "null"
                        ]
                    }
                }
            },
            "InventoryIdleRow": {
                "type": "object",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_id": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "units": {
                        "type": "integer"
                    },
                    "last_deal_ts": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Unix timestamp of the last deal touching this model. Null = never."
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "days_idle": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "PricingHistoryRow": {
                "type": "object",
                "description": "One event from rent_tarif_history. Each event stores a full before/after snapshot of the tariff row, not a diff.",
                "properties": {
                    "event_id": {
                        "type": "integer"
                    },
                    "changed_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "change_type": {
                        "type": "string",
                        "enum": [
                            "baseline",
                            "create",
                            "update",
                            "delete"
                        ]
                    },
                    "source": {
                        "type": "string",
                        "enum": [
                            "bb_admin",
                            "model_archive",
                            "migration",
                            "legacy_import",
                            "baseline"
                        ],
                        "description": "Writer of the event: an edit in the legacy admin panel, tariff removal on model archival, the one-off migration that seeded the table from the then-live rent_tarif_act (change_type=baseline), or the legacy rent_tarif_prev import (always change_type=delete)."
                    },
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "tarif_id": {
                        "type": "integer"
                    },
                    "actor": {
                        "type": "object",
                        "properties": {
                            "user_id": {
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            },
                            "name": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            }
                        }
                    },
                    "before": {
                        "type": "object",
                        "nullable": true,
                        "description": "Tariff state before the change. Null when change_type is create or baseline.",
                        "properties": {
                            "step": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "enum": [
                                    "day",
                                    "week",
                                    "month",
                                    "year",
                                    "",
                                    null
                                ],
                                "description": "Empty string / null are legacy junk, not a documented step: 3 rows in rent_tarif_prev (tarif_act_id 35, 39, 8157; model_id=0) were imported with an empty step by migration 2026_07_31_000001 (source=legacy_import). bb/classes/TariffHistory::quote() also collapses an empty string to SQL NULL, so both forms can appear."
                            },
                            "kol_vo": {
                                "type": "integer"
                            },
                            "kol_vo_min": {
                                "type": "integer"
                            },
                            "rent_amount": {
                                "type": "string",
                                "description": "Decimal formatted to 2 places, e.g. \"200.00\"."
                            },
                            "rent_per_step": {
                                "type": "string"
                            },
                            "price_per_day": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "description": "rent_amount / (step_days × kol_vo), 2 decimals. Null when that denominator is zero."
                            },
                            "start_date": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date"
                            }
                        }
                    },
                    "after": {
                        "type": "object",
                        "nullable": true,
                        "description": "Tariff state after the change. Null when change_type is delete.",
                        "properties": {
                            "step": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "enum": [
                                    "day",
                                    "week",
                                    "month",
                                    "year",
                                    "",
                                    null
                                ],
                                "description": "Empty string / null are legacy junk, not a documented step: 3 rows in rent_tarif_prev (tarif_act_id 35, 39, 8157; model_id=0) were imported with an empty step by migration 2026_07_31_000001 (source=legacy_import). bb/classes/TariffHistory::quote() also collapses an empty string to SQL NULL, so both forms can appear."
                            },
                            "kol_vo": {
                                "type": "integer"
                            },
                            "kol_vo_min": {
                                "type": "integer"
                            },
                            "rent_amount": {
                                "type": "string",
                                "description": "Decimal formatted to 2 places, e.g. \"200.00\"."
                            },
                            "rent_per_step": {
                                "type": "string"
                            },
                            "price_per_day": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "description": "rent_amount / (step_days × kol_vo), 2 decimals. Null when that denominator is zero."
                            },
                            "start_date": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date"
                            }
                        }
                    },
                    "delta_amount_byn": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "after.rent_amount − before.rent_amount, formatted to 2 decimals. Null unless both before and after are present."
                    },
                    "delta_pct": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Percent change in price_per_day: (after.price_per_day − before.price_per_day) / before.price_per_day × 100, rounded to 1 decimal. Null unless both sides have a price_per_day and before.price_per_day > 0."
                    },
                    "note": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "PricingSnapshotRow": {
                "type": "object",
                "description": "One model's price list as of `as_of`: the latest rent_tarif_history event with changed_at <= as_of, per tarif_id.",
                "properties": {
                    "model_id": {
                        "type": "integer"
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "min_price_per_day": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Lowest tariffs[].price_per_day for this model."
                    },
                    "extrapolated": {
                        "type": "boolean",
                        "description": "True if at least one of this model's tariff rows has no recorded change-log event before as_of, so its baseline record (state as of its own last known edit) is returned instead — see meta.warnings."
                    },
                    "tariffs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "tarif_id": {
                                    "type": "integer"
                                },
                                "step": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "enum": [
                                        "day",
                                        "week",
                                        "month",
                                        "year",
                                        "",
                                        null
                                    ],
                                    "description": "Empty string / null are legacy junk, not a documented step: 3 rows in rent_tarif_prev (tarif_act_id 35, 39, 8157; model_id=0) were imported with an empty step by migration 2026_07_31_000001 (source=legacy_import). bb/classes/TariffHistory::quote() also collapses an empty string to SQL NULL, so both forms can appear."
                                },
                                "kol_vo": {
                                    "type": "integer"
                                },
                                "kol_vo_min": {
                                    "type": "integer"
                                },
                                "rent_amount": {
                                    "type": "string",
                                    "description": "Decimal formatted to 2 places, e.g. \"200.00\"."
                                },
                                "rent_per_step": {
                                    "type": "string"
                                },
                                "price_per_day": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "description": "rent_amount / (step_days × kol_vo), 2 decimals. Null when that denominator is zero."
                                },
                                "start_date": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "format": "date"
                                }
                            }
                        }
                    }
                }
            },
            "CustomersTimelineRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "new_clients": {
                        "type": "integer"
                    },
                    "active_clients": {
                        "type": "integer"
                    },
                    "returning_clients": {
                        "type": "integer"
                    },
                    "new_active_clients": {
                        "type": "integer"
                    }
                }
            },
            "CustomersCohortRow": {
                "type": "object",
                "properties": {
                    "cohort": {
                        "type": "string",
                        "example": "2024-03"
                    },
                    "size": {
                        "type": "integer"
                    },
                    "retention": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "period": {
                                    "type": "string",
                                    "example": "2024-04"
                                },
                                "active": {
                                    "type": "integer"
                                },
                                "rate": {
                                    "$ref": "#/components/schemas/Ratio"
                                }
                            }
                        }
                    }
                }
            },
            "CustomersRepeatIntervalsData": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer"
                    },
                    "mean_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "min_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "max_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "p25_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "median_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "p75_days": {
                        "type": [
                            "number",
                            "null"
                        ]
                    },
                    "histogram": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "label": {
                                    "type": "string",
                                    "example": "30-90d"
                                },
                                "lo": {
                                    "type": "integer"
                                },
                                "hi": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "count": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "ClientsLtvRow": {
                "type": "object",
                "properties": {
                    "client_id": {
                        "type": [
                            "integer",
                            "string"
                        ]
                    },
                    "client_city": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "client_status": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "client_since": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "ltv_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_deal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "first_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "last_deal_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date"
                    },
                    "active_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "GeoClientsByCityRow": {
                "type": "object",
                "properties": {
                    "city_norm": {
                        "type": "string",
                        "description": "lower-cased + trimmed clients.city, or '(unknown)'."
                    },
                    "unique_clients": {
                        "type": "integer"
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "LocationsPerformanceRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_id": {
                        "type": "integer",
                        "description": "0 = synthetic 'Курьер' pseudo-office."
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "'office', 'courier', or null."
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "issuance_events": {
                        "type": "integer"
                    },
                    "unique_clients_proxy": {
                        "type": "integer",
                        "description": "DISTINCT deal_id of issuance sub-deals — proxy for unique customers visiting that office in that period."
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_payment_byn": {
                        "$ref": "#/components/schemas/AmountBYN",
                        "description": "Average sub-deal payment (NOT average per deal)."
                    }
                }
            },
            "LocationsLifecycleRow": {
                "type": "object",
                "properties": {
                    "office_id": {
                        "type": "integer"
                    },
                    "office_type": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "office_address": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "currently_active": {
                        "type": [
                            "integer",
                            "boolean"
                        ]
                    },
                    "first_activity_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date",
                        "description": "Earliest sub_deal.acc_date for this office. Renamed from first_deal_date in v2.0.0."
                    },
                    "last_activity_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date",
                        "description": "Latest sub_deal.acc_date for this office. Renamed from last_deal_date in v2.0.0."
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "active_days": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    }
                }
            },
            "CategoriesSeasonalityRow": {
                "type": "object",
                "properties": {
                    "month_num": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                    },
                    "month_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "deals": {
                        "type": "integer"
                    },
                    "avg_deals_per_year": {
                        "type": "number"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "years_covered": {
                        "type": "integer"
                    },
                    "seasonality_index": {
                        "type": "number",
                        "description": "deals / (totalDeals / monthsObserved). 1.0 = average month; 6.7 = December for costumes."
                    }
                }
            },
            "CategoriesPerformanceRow": {
                "type": "object",
                "properties": {
                    "cat_id": {
                        "type": "integer"
                    },
                    "cat_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "cat_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "subsection_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "section_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "total_deals": {
                        "type": "integer"
                    },
                    "unique_clients": {
                        "type": "integer"
                    },
                    "avg_payment_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "active_models": {
                        "type": "integer"
                    },
                    "units_rented": {
                        "type": "integer"
                    },
                    "total_revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN",
                        "description": "Pre-aggregated per item to avoid M:N inflation through subrazdel_category × razdel_subrazdel."
                    },
                    "issuance_events": {
                        "type": "integer"
                    }
                }
            },
            "CarnivalFunnelData": {
                "type": "object",
                "properties": {
                    "bookings": {
                        "type": "integer"
                    },
                    "approved": {
                        "type": "integer"
                    },
                    "issued": {
                        "type": "integer"
                    },
                    "returned": {
                        "type": "integer"
                    },
                    "unanswered": {
                        "type": "integer"
                    },
                    "conversion_rates": {
                        "type": "object",
                        "properties": {
                            "booking_to_approved": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "approved_to_issued": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "issued_to_returned": {
                                "$ref": "#/components/schemas/Ratio"
                            },
                            "booking_to_issued": {
                                "$ref": "#/components/schemas/Ratio"
                            }
                        }
                    }
                }
            },
            "CarnivalSeasonalityRow": {
                "type": "object",
                "properties": {
                    "month_num": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                    },
                    "month_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bookings": {
                        "type": "integer"
                    },
                    "issued": {
                        "type": "integer"
                    },
                    "revenue_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "avg_bookings_per_year": {
                        "type": "number"
                    },
                    "years_covered": {
                        "type": "integer"
                    },
                    "seasonality_index": {
                        "type": "number"
                    }
                }
            },
            "CarnivalRevenueRow": {
                "type": "object",
                "properties": {
                    "period": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bookings": {
                        "type": "integer"
                    },
                    "revenue_k1_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_k2_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_terminal_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_bank_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    },
                    "revenue_total_byn": {
                        "$ref": "#/components/schemas/AmountBYN"
                    }
                }
            },
            "MarketingConversionRow": {
                "type": "object",
                "description": "A single conversion event from tiktak_utms with UTM attribution and entity details.",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Conversion timestamp (tiktak_utms.created_at)."
                    },
                    "entity_type": {
                        "type": "string",
                        "enum": [
                            "zvonki",
                            "rent_orders",
                            "karn_brons",
                            "kb_zayavki",
                            "phone_click",
                            "add_to_cart_click"
                        ],
                        "description": "Conversion type. zvonki=callback request; rent_orders=online booking (standard items); karn_brons=carnival costume booking; kb_zayavki=waitlist request (out-of-stock); phone_click/add_to_cart_click=JS frontend events (entity_id=0, fio/phone/status=null)."
                    },
                    "utm_source": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "e.g. 'google', 'yandex', 'vk'."
                    },
                    "utm_medium": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "e.g. 'cpc', 'social', 'organic'."
                    },
                    "utm_campaign": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "utm_term": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "fio": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Customer name from joined entity. CONCAT_WS(' ', family, name, otch) for rent_orders; fio for karn_brons; z_name for zvonki. Null for frontend click events."
                    },
                    "phone": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Customer phone from joined entity. Null for frontend click events."
                    },
                    "info": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Free-text info from joined entity (zvonki.info or kb_zayavki.info). Null for others."
                    },
                    "status": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Entity status (zvonki.status, rent_orders.status, karn_brons.status). Null for kb_zayavki and click events."
                    },
                    "model_id": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "description": "Model ID for rent_orders (from rent_orders.model_id) and kb_zayavki (from kb_zayavki.model_id). Null for all other entity types."
                    },
                    "model_name": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Human-readable model name from rent_model_web.item_name_main. Populated for rent_orders and kb_zayavki. Null for all other entity types."
                    },
[...]
