/* Styles for the modal overlay */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* Show the modal when the 'show' class is applied */
.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Styles for the modal form rows */
.mrow {
  margin-bottom: 15px;
}

/* Styles for labels */
.mrow span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles for input and select elements */
.modal input[type="number"],
.modal select,
.modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Style the button */
.btn-sell {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-sell:hover {
  background-color: #0056b3;
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


/* CSS for the context menu */
.context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}
