/* Style for the modal background */
.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Style for the modal content */
.modal-content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 400px;
  max-width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the header */
.modal-header {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style for input and textarea */
.days_num,
.validity-date,
.textarea-field
{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.days_num{
  width: 50px;
  text-align: center;
}

.textarea-field{
  resize: both;
  width: 90%;
  min-height: 80px;
}

/* Style for the submit button */
.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-content .line2{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: baseline;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.zayavka_btn{
  margin: 10px 0;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}
