@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;;
    
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    
    --color-dark-s: #CDCDCD;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;
    --color-dark-3xl: #292929;
    --color-dark-xl: #4C4C4C;

}

.wrapper{
    overflow: hidden;
}
.blackout{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.6);
}

.blackout.show{
    display: block;
}

button{
    cursor: pointer;
    transition: all 0.4s;
}

button:hover{
    transform: scale(1.1);
}

.start-screen-wrapper {
    margin-top: -120px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.container-header {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: 60px;
}

/* .container-header {
    display: flex;
    flex-flow: column nowrap;
    height: 908px;
    width: 100%;
} */

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
}

.nav.menu-shown{
    justify-content: flex-end;
}

.nav .logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
}

.logo .title {
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;

    text-decoration: none;
    color: var(--color-primary);
}

.logo .subtitle{
    margin-top: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    
    text-decoration: none;
    color: var(--color-light-xl);
}

.nav-menu {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    /* !! position correction */
    margin-top: -3px;
    margin-right: 2px;

    list-style: none;
}

.nav-item:hover{
    transition: transform 0.4s;
}

.nav-item .nav-a{
    margin-left: 35px;

    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    
    transition: all 0.4s;
}

.nav-item .nav-a.active{
    border-bottom: solid 3px var(--color-primary);
    padding-bottom: 2px;
    color: var(--color-light-s);
}

.nav-item:hover{
    transform: scale(1.1);
}

.nav-item .nav-a:hover{
    color: var(--color-light-s);
}

.start-screen-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 908px;

}

.start-screen-content{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 243px;
}

.start-screen-content h2 {
    margin: 0;
    padding: 0;
    max-width: 310px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.0006em;

    color: var(--color-light-xl);
}

.start-screen-content p {
    margin-top: 42px;
    max-width: 460px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: var(--color-dark-s);
}

.start-screen-content .btn{
    margin-top: 28px;
    width: 207px;
    height: 52px;
 
    border: none;
    background: var(--color-primary);
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    transition: all 0.4s;
}

.start-screen-content .btn:hover{
    background-color: var(--color-primary-light);
    transform: scale(1.1);
}

.start-screen-dog{
    width: 698px;
    height: 728px;
}


.container-about{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 80px;
    margin-bottom: 96px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.sub-heading {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    color: var(--color-dark-xl);
}

.container-about .about-pets, .container-about .content{
    flex: 0 1 50%;
}

.about-pets img {
    margin-left: 175px;
}

.container-about .content h2{
    margin-top: 14px;
    max-width: 370px;
}

.container-about .sub-heading{
    margin-top: 25px;
    max-width: 430px;
}

/*! correction for google-pixel*/
.container-about h2, .container-about .sub-heading {
    margin-left: -4px;
}

.pets-wrapper{
    background: var(--color-light-l);
}

.container-pets {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-pets h2{
    margin-top: 80px;
    width: 400px;
    
    text-align: center;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.pets-slider{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    justify-content: space-between;
    padding: 0 105px;
    margin-top: 58px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 270px;
    height: 435px;

    background: var(--color-light-s);
    border-radius: 9px;
    transition: all 0.4s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
}

.card img {
    width: 270px;
}

.card .title{
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.card .btn {
    margin-top: 30px;
    width: 187px;
    height: 52px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
}
.card:hover .btn {
    background: var(--color-primary-light);
    border: none;
}

.pets-btn-primary{
    margin-top: 60px;
    margin-bottom: 100px;
    height: 52px;
    width: 261px;
    padding-top: 16px;

    border: none;
    background: var(--color-primary);
    border-radius: 100px;

    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    text-decoration: none;

    transition: all 0.4s;
}

.pets-btn-primary:visited {
    text-decoration: none;
}

.pets-btn-primary:hover {
    transform: scale(1.1);
}

.pets-slider .arrow {
    position: absolute;
    top: 44%;
    height: 52px;
    width: 52px;

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.pets-slider .arrow:hover{
    background-color: var(--color-primary-light);
    border: none;
}

.pets-slider .arrow.arrow-left {
    left: 0;
    background-image: url("../../assets/images/svg/Arrow_left.svg");
}

.pets-slider .arrow.arrow-right {
    right: 0;
    background-image: url("../../assets/images/svg/Arrow_right.svg");
}


.container-help{
    display: flex;
    flex-flow: column nowrap;
}

.container-help h2{
    margin-top: 80px;
    align-self: center;
    width: 380px;

    text-align: center;
}

.help-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1150px;
    margin: 60px auto 45px;
    padding: 0;

    list-style: none;
}

.help-item{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    margin: 0 60px 55px;
    align-items: center;
    height: 113px;
}

.help-item img {
    width: 60px;
}

.help-item .title {
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}


.donation-wrapper{
    background: var(--color-light-l);
}

.container-donation{
    padding-top: 80px;
    padding-bottom: 87px;
    display: flex;
    flex-flow: row nowrap;
}

.donation-dog{
    flex: 0 1 648px;
    text-align: right;
    margin-top: 11px;
}

.donation-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 380px;
    margin-left: 30px;
}

.donation-content h2{
    width: 300px;
}

.donation-content .subheading {
    margin-top: 20px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-content a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
    width: 349px;
    height: 43px;

    background: var(--color-primary);
    border-radius: 9px;
    transition: all 0.4s;
}

.donation-content a:hover{
    transform: scale(1.1);
}


.donation-content a img{
    margin-left: 15px;
    width: 30px;
    height: 23px;
}

.donation-content a,
.donation-content a span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-decoration: none;
}

.donation-content a span{
    margin-left: 15px;
}

.donation-content .legal-info {
    margin-top: 20px;
    width: 380px;
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}


.footer {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

.container-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contacts,
.locations {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 234px;
    margin-top: 56px;
    margin-bottom: 12px;
    
}

.locations{
    margin-right: 39px;
}

.container-footer .title{
    margin: 0;
    padding: 0;

    width: 280px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);

}

.container-footer .footer-a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    text-decoration: none;
}

.footer-a img {
    height: 32px;
    margin-right: 18px;
}

.footer-a span{
    width: 255px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer-puppy{
    margin-top: 40px;
    align-self: flex-end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 40px;
    height: 26px;
    width: 32px;
    position: relative;
    z-index: 3;


    transition: all 0.5s;
    cursor: pointer;
}

.hamburger.active{
    transform: rotate(90deg);
    transition: all 0.5s;
}

.hamburger .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-primary);
  }




@media screen and (max-width: 1279px) {
    .container {
        padding: 0 30px;
    }
    .container-header {
       margin-top: 30px;
       margin-bottom: 30px;
    }

    .start-screen-container{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .start-screen-content{
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .start-screen-dog{
        display: flex;
        justify-content: flex-end;
        text-align: right;
        height: auto;
        width: 100%;
    }
    .start-screen-dog img{
        width: 569px;
    }

    .start-screen-container {
        height: auto;
    }

    .start-screen_btn{
        align-self: center;
    }

    .container-about{
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 64px;
    }
    .container-about img{
        margin: 0;
        padding: 0;
    }

    .container-about .about-pets{
        margin-top: 78px;
        order: 2;
    }
    .container-about .content{
        order: 1;
    }


    .pets-slider{
        justify-content: space-around;
        padding: 0 64px;
        margin-top: 58px;
    }

    .pets-slider .card:nth-child(3){
        display: none;
    }
    

    .help-list {
        justify-content: center;
        max-width: 1150px;
        margin: 60px auto 45px;
        padding: 0;
    
        list-style: none;
    }
    
    .help-item{
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 170px;
        align-items: center;
        height: 113px;
        margin: 0 30px 55px;
        padding: 0;
    }

    .container-donation{
        flex-flow: column nowrap;
        align-items: center;
    }

    .donation-content{
        order: 1;
        margin: 80px 0 49px 0;
        flex-basis: auto;
    }

    .donation-dog {
        margin: 0 0 95px 0;
        order: 2;
        flex-basis: auto;
    }

    .container-footer{
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .contacts,
    .locations {
        margin-top: 30px;
        margin-left: 29px;
    }

    .footer-puppy{
        margin-top: 49px;
    }

}

@media screen and (max-width: 850px) {
    .pets-slider{
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 10px;
    }

    .container-header{
        margin-top: 30px;
    }

    .start-screen-container{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .start-screen-content{
        align-items: center;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .start-screen-content h2, 
    .start-screen-content p{
        text-align: center;
    }

    .start-screen-content h2{
        max-width:235px;
        letter-spacing: 0.06em;
    }

    .start-screen-dog{
        display: flex;
        justify-content: flex-end;
        text-align: right;
        height: auto;
        width: 100%;
    }
    .start-screen-dog img{
        width: 88%;
    }

    .start-screen-container {
        height: auto;
    }

    .start-screen_btn{
        align-self: center;
    }

    .hamburger{
        display: flex;
    }

    /* mobile menu */

    .nav-menu{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        right:-340px;
        top: -55px;
        position: absolute;
        z-index: 2;
        width: 320px;
        height: 100vh;
        padding-top: 248px;
        background-color: var(--color-dark-3xl);

        transition: all 0.5s;
    }
    .nav-menu.show{
        right: 0;
    }

    .nav-item{
        margin-bottom: 40px;
    }

    .nav-item .nav-a{
        margin: 0;    
        font-size: 32px;
        line-height: 160%;
    
        transition: all 0.4s;
    }

    a.logo{
        position: relative;
        z-index: 3;
    }

    .start-screen-content h2{
        font-size: 25px;
    }

    .container-about{
        margin-top: 28px;
        margin-bottom: 40px;
    }
    .container-about .content{
        padding: 0 15px;
    }

    .container-about .content p{
        margin-left: 0;
        text-align: justify;
    }

    .container-about .content h2{
        margin-left: 0;
        font-size: 25px;
        text-align: center;
    }
    .container-about h2, .container-about .sub-heading {
        margin-left: 0px;
    }

    .container-about .sub-heading {
        margin-top: 23px;
    }

    .container-about .about-pets{
        margin-top: 42px;
        text-align: center;
    }

    .container-about .about-pets img {
        width: 86%;
    }

    .container-pets h2{
        margin-top: 42px;
        font-size: 25px;
    }


    .pets-slider .card:nth-child(2),
    .pets-slider .card:nth-child(3){
        display: none;
    }

    .pets-slider{
        justify-content: center;
        padding: 0;
        margin-top: 42px;
    }

    .pets-btn-primary{
        margin-top: 112px;
        margin-bottom: 42px;
    }

    .pets-slider .arrow {
        top: 453px;
    }

    .pets-slider .arrow.arrow-left {
        left: 58px;
    }

    .pets-slider .arrow.arrow-right {
        right: 58px;
    }

    .container-help h2{
        margin-top: 42px;
        font-size: 25px;
        width: 260px;
    }

    .help-list {
        margin-top: 42px;
        margin-bottom: 12px;
        justify-content: space-between;
    }

    .help-item{
        flex: 0 0 130px;
        height: 87px;
        margin: 0 5px 30px;
    }

    .help-item img {
        width: 50px;
    }

    .help-item .title {
        margin-top: 20px;
        font-size: 15px;
    }

    .donation-content{
        align-items: center;
        margin-top: 42px;
        margin-bottom: 30px;
        flex-basis: auto;
    }

    .donation-content h2{
        text-align: center;
        width: 220px;
        font-size: 25px;
    }

    .donation-content .subheading {
        text-align: center;
        letter-spacing: normal;
    }

    .donation-content .legal-info {
        width: auto;
        text-align: justify;
        padding: 0 10px;
    }

    .donation-content a{
        margin-top: 26px;
        width: 281px;
    }

    .donation-content a,
    .donation-content a span {
        font-size: 15px;
    }

    .donation-dog{
        margin-bottom: 38px;
        flex: 0 0 auto;
        text-align: center;
    }
    .donation-dog img{
        width: 87%;
    }

    .container-footer{
        justify-content: center;
    }

    .container-footer .title{
        text-align: center;
        font-size: 25px;
    }

    .contacts,
    .locations {
        align-items: center;
        margin: 0;
        padding: 0;
        height: 205px;
    }

    .contacts{
        margin-top: 30px;
    }
    
    .contacts .footer-a{
        width: 252px;
    }

    .locations{
        margin-top: 43px;
        height: 219px;
    }

    .locations .footer-a{
        width: 100%;
    }

    .footer-puppy{
        margin-top: 49px;
        text-align: center;
    }

    .footer-puppy img{
        width: 84%;
    }
}

