:root {
    --footer-font-size: 18px;
}

.footer {
    padding-top: 30px;
    background-color: var(--main-blue);
    font-family: var(--main-text-font-family);

    @media all and(max-width: 767px) {
        padding-top: 13px;
    }
}

.footer-container{
    position: relative;
}

.footer-back-img{
    position: absolute;
    top: -30px;
    left: 0;

    @media all and (max-width: 1000px) {
        display: none;
    }

}

.footer-logo-img {
    width: 189px;

    @media all and(max-width: 767px) {
        width: 125px;
    }
}

.footer-map,
.footer-map:active,
.footer-map:visited{
    font-style: normal;
    font-weight: 200;
    font-size: var(--footer-font-size);
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 11%;

    @media all and(max-width: 767px) {
        margin-left: 0;
    }
}

.footer-map img{
    margin-right: 22px;
}

.subscribe-form{
    display: flex;
    flex-flow: column nowrap;
}

.subscribe-form label{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.subscribe-form input {

    background-color: transparent;

    border: none;
    border-bottom: 0.5px solid #FFFFFF;
}

.footer-email{
    outline: none;
    color: #FFFFFF;
}

.footer-line{
    display: flex;
    flex-flow: row nowrap;
}

.footer-email::placeholder {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.0029em;
    color: #FFFFFF;
}

.footer-email-btn,
.footer-email-btn:active,
.footer-email-btn:hover{
    width: 191px;
    height: 47px;
    border: none;
    background: none;
    background-color:  #FFFFFF;

    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.0029em;
    color: #3180D1;
}

.footer-column,
.footer-column a{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: var(--footer-font-size);
    line-height: 115%;
    letter-spacing: 0.0029em;
    color: #FFFFFF;
    list-style: none;
}

.footer-column{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @media all and(max-width: 767px) {
        flex-grow: 1;
        border-bottom: 1px solid rgba(255, 255, 255, 0.26);
        padding-bottom: 20px;
        &.last{
            padding-bottom: 0px;
            border: none;
        }

        & > li {
            margin-top: 25px;
        }
    }

}

.footer-row-1{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  position: relative;
  z-index: 1;
}

.footer-row-2{
  position: relative;
  z-index: 1;
    height: 230px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    padding: 20px 0 50px 0;

    @media all and(max-width: 767px) {
        padding-bottom: 30px;
        height: auto;
    }
}

.footer-col-2>*{
    margin-left: 11%;
    @media all and(max-width: 767px) {
        margin: 0;
    }
}

.footer-row-3{
  position: relative;
  z-index: 1;
}

.footer-row-3 > *{
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: var(--footer-font-size);
    line-height: 172.69%;
    /* or 35px */
    letter-spacing: 0.0029em;

    color: #FFFFFF;

    @media all and(max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 0px;
    }
}

.webit-loggo-container{
    display: flex;
    flex-flow: row nowrap;
}
.webit-loggo-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.webit-loggo-img{
    margin-right: 10px;
}

.webit-loggo-text .logo-text1{
    font-size: 24px;
    line-height: 1;
}
.webit-loggo-text .logo-text2 {
    line-height: 1;
}

