.insta-section {
    width: 100%;
    background-color: #BFD24A;
}

.conainer-insta{
    position: relative;
    display: grid;
    grid-template-areas:
        "title a_pic"
        "text a_pic"
        "button a_pic";
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    padding: 61px 12px 61px 12px;

    @media all and (max-width: 1000px) {
        grid-template-areas:
        "title"
        "a_pic"
        "text"
        "button";
        grid-template-rows: auto;
        grid-template-columns: 1fr;

        padding: 24px 0 29px 0;
    }
}

.conainer-insta >* {
    position: relative;
    z-index: 2;
}

.insta-back{
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;

    width: 800px;

    @media all and (max-width: 1000px) {
        display: none;
    }
}

.insta-back2{
    display: none;
    position: absolute;
    width: 352px;
    bottom: 0px;
    left: 17px;
    z-index: 1;

    @media all and (max-width: 1000px) {
        display: block;
    }
}

.insta_title{
    grid-area: title;
    padding-top: 70px;
    padding-left: 37px;

    font-family: "Let's Be Glyphs CYR";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 172.69%;
    /* or 48px */
    letter-spacing: 0.0029em;
    color: #000000;

    @media all and (max-width: 1000px) {
        padding: 0;
        text-align: center;
        font-size: 20px;
    }
}

.insta_text{
    grid-area: text;
    padding: 33px 30px 0 37px;

    font-family: var(--main-text-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 172.69%;
    /* or 35px */
    letter-spacing: 0.0029em;
    color: #000000;

    @media all and (max-width: 1000px) {
        text-align: left;
        padding: 50px 80px 0px 45px;
        font-weight: 400;
        font-size: 16px;
    }
}

.insta_button,
.insta_button:visited,
.insta_button:active{
    grid-area: button;
    width: 193px;
    height: 55px;
    padding-top: 13px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 172.69%;
    /* or 31px */
    text-align: center;
    letter-spacing: 0.04px;
    color: #FFFFFF;
    background: #E54428;;
    text-decoration: none;

    justify-self: center;
    margin-left: 27px;
    margin-top: 17px;

    @media all and (max-width: 1000px) {
        padding-top: 8px;
        font-size: 16px;
        width: 171px;
        height: 39px;
        margin-left: 0px;
        margin-top: 17px;
    }
}

.insta_a_pic{
    grid-area: a_pic;
    justify-self: flex-end;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 16px 0;

    width: 596px;
    height: 394px;
    background-color: white;

    @media all and (max-width: 1000px) {
        width: auto;
        max-width: 400px;
        gap: 5px;
        margin: 22px 12px 0 12px;
        padding: 0;
        justify-self: center;
        height: 253px;
    }
    @media all and (max-width: 340px) {
        width: auto;
        max-width: none;
        gap: 0px;
        margin: 5px 12px 0 5px;
    }
}

.insta_a_pic .insta-photo {
    width: 150px;
    height: 150px;

    @media all and (max-width: 1000px) {
        width: 100px;
        height: 100px;
    }
}
