*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

:root {
  --color-dark: #000000;
  --color-white: #FFFFFF;
  --color-gold: #bdae82;
}


html {
  scroll-behavior: smooth;
}

body {

  background-color: #000000;
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.main-container{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.container{
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-white);
}

a:hover {
  color: var(--color-gold);
}


.container-header{
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  z-index: 2;
}

.top-logo{
  display: flex;
  align-items: center;
  margin-right: auto;
  color: white;
  transition: 0.5s;
}
.top-logo:hover {
  filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
}


.top-nav{
  margin: 0;
  padding: 20px 0;
}

.top-nav a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 0 0 30px;
  line-height: 50px;
  transition: 0.5s;
}


.lang{
  display: flex;
  flex-basis: 70px;
  justify-content: end;
  align-items: center;
  margin-left: 31px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: var(--color-white);
}

.lang-active{
  color: var(--color-gold);
}

.hamburger {
  display: none;
  transition: 0.5s;
}

.hamburger:hover {
  filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
}

.hamburger .line{
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
  display: block;
  margin: 11px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-1 {
  margin-left: 22px;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}


.hero{
  margin: -90px 0 0 0;
  padding: 250px 0 0 80px;
  height: 910px;

  background-image: url(./assets/img/header_bg.jpeg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.hero-block{

  margin: 0;

  max-width: 500px;
  height: 330px;

  color: white;
}

.hero-block h1 {

  margin: 0;
  padding: 0;

  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

.hero-block p {

  margin: 11px 0 0 0;
  max-width: 470px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.hero-btn{
  margin-top: 24px;
  width: 220px;
  height: 55px;
  border: none;

  color: var(--color-dark);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  text-align: center;

  background-color: #BDAE82;
  transition: 0.5s;
}

.hero-btn:hover {
  color: var(--color-white);
}

.skills {
  min-height: 382px;
  max-width: 1440px;

  color: #BDAE82;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  /* identical to box height, or 200% */

  text-align: center;
}

.portfolio {
  text-align: center;
}

.portfolio-btn {
  position: relative;
  overflow: hidden;
}


.portfolio-btn:focus {
  outline: none;
}
button .circle {
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}
button {
  position: relative;
  overflow: hidden;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.section-title {
  width: fit-content;
  margin: 100px auto 60px;
  padding: 0 20px;
  color: #BDAE82;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-color: black;
}

.section-title::before {
  background-color: #BDAE82;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  width: 50%;
  margin: 0;
  z-index: -1;
  left: 25%;
  top:40px;
  border: 1px solid #BDAE82;
}

.section-title-light {
  color: black;
  background-color: white;
}

.section-title-light::before {
  background-color: black;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  width: 50%;
  margin: 0;
  z-index: -1;
  left: 25%;
  top:40px;
  border: 1px solid black;
}

.skills-line{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 20px;
}

.skill-div {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 320px;
}

.skill-div img {
  margin: 0 auto;
}

.skill-name {
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.skill-descr {

  margin: 20px 20px 8px 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;

  text-align: center;
  color: #FFFFFF;
}

.section-title.title-portfolio {
  margin-top: 99px;
  margin-bottom: 59px;
}

.portfolio-cat-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 30px 0;
}
.portfolio-cat-list li {
  margin: 2px;
  transition: transform 1s ease-in-out;
}

.portfolio-cat-list li.active {
  background-color: #BDAE82;
}
.portfolio-cat-list li.active button {
  color: var(--color-dark);
}

.portfolio-cat-list li button:hover,
.portfolio-cat-list li.active button:hover {
  color: var(--color-white);
}

.portfolio-cat-list button {
  width: 220px;
  height: 55px;

  border: 2px solid #BDAE82;
  background: transparent;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;

  text-align: center;
  color: #BDAE82;

  cursor: pointer;
}

.portfolio-cat-list-light button {
  color: black;
}

.portfolio-cat-list li button:hover {
  color: var(--color-white);
  background-color: #BDAE82;
}


.photo-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.portfolio-item{
  width: 450px;
  height: 560px;
  margin-top: 25px;
  transition: 0.5s;
}

.section-title.title-video {
  margin-top: 104px;
  margin-bottom: 60px;

}

div.video {
  max-height: 705px;
  margin: 0 20px;
}

.video img {
  width: 100%;
}

.video-big {
  display: inline-block;
}
.video-small {
  display: none;
}

.video-btn{
  position: absolute;
  top: 50%;
  left: 45%;

  width: 130px;
  height: 130px;

  background: transparent;
  border: none;
  background-image: url(./assets/svg/Play_hover.svg);

  transition: 0.5s;
}

.video-btn:hover {
  filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
}


.player-hover{
  position: absolute;
  top: 50%;
  left: 45%;
}

.price-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.price-item{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 450px;
  height: 505px;

  border: 3px solid #BDAE82;

}

.price-item h3 {
  margin: 43px 0 0 0;

  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;

  text-align: center;

  color: #FFFFFF;
}

.light-theme h3 {
  color: black;
}

.price-item .price {
  margin: 20px 0 0 0;

  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;

  text-align: center;

  color: #BDAE82;
}

.price-item ul{
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;

  text-align: center;

  color: #FFFFFF;
}

.price-item button{
  width: 220px;
  height: 55px;

  margin: 40px 0 0 0;

  padding: 8px 39px;

  background: #BDAE82;
  border: none;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;

  text-align: center;

  color: #000000;

  cursor: pointer;
}

.price-item button:hover{
  color: var(--color-white);
}

.contacts {
  margin-top: 100px;

  height: 700px;
  background-image: url(./assets/img/contacts.jpeg);
  position: relative;

  background-repeat: no-repeat;
  background-position: center 0;
}

.contacts-container{

  display:flex;
  flex-flow: column nowrap;

  margin: 0px 20px 195px auto;
  padding-top: 60px;

  max-width: 450px;
}

.contacts-title{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  color: #BDAE82;
}

.contacts .email{
  margin:  38px 0 0 0;
  padding-left: 18px;

  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;

  color: #BDAE82;
}
.contacts .email::placeholder,
.contacts .phone::placeholder,
.contacts .message::placeholder{
  color: #BDAE82;
}

.contacts .phone{
  margin:  20px 0 0 0;
  padding-left: 18px;

  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;

  color: #BDAE82;
}

.contacts .message{
  width: 450px;
  margin:  20px 0 0 0;
  padding-left: 18px;
  padding-top: 8px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #BDAE82;
  resize: none;
}

.submit-btn{
  margin: 30px 0 0 0;
  width: 220px;
  height: 55px;
  background: #BDAE82;
  border: none;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;

  text-align: center;

  color: #000000;

  transition: 0.5s;
}

.submit-btn:hover {
  color: var(--color-white);
}

.section {
  position: relative;
}

.container-footer ul{
  display: flex;
  list-style: none;
}

.container-footer ul li{
  margin-left: 20px;
}

.footer .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 150px;
  padding: 0 20px

}

.footer a{
  color: white;
  text-decoration: none;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;

  color: #FFFFFF;

}

.soc-icon:hover {
  filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
}

.light-shift {
  width: 45px;
  height: 45px;
  margin-left: 35px;

  background-image: url(./assets/svg/sun.svg);
  background-repeat: no-repeat;
  background-position: center 0;

  cursor: pointer;
}

.light-shift:hover {
  filter: invert(24%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
}

.light {
  background-image: url(./assets/svg/moon.svg);
}

.light-theme {
  background-color: #FFFFFF;
  color: #000000;
}


/* header {
  position: fixed !important;
} */

@media (max-width: 768px) {

  .container-header {
    padding: 20px 60px;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .top-nav {
    position: absolute;
    top: 0;
    right: -82%;
    width: 80%;
    height: 100vh;
    background-color: var(--color-dark);

    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .top-light {
    background-color: white;
  }

  .top-light a {
    color: black;
  }

  .hamburger-light:hover {
    filter: invert(76%) sepia(10%) saturate(900%) hue-rotate(7deg) brightness(88%) contrast(97%);
  }

  .hamburger-light .line{
    background-color: black;
  }

  .nav-list {
    flex-direction: column;
    margin: 22% auto auto 21%;
    justify-content: flex-start;
  }

  .nav-item {
    width: 100%;
  }
  .nav-link {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;

    font-size: 35px;
    line-height: 73px;
  }

  .top-nav a {
    font-size: 35px;
    line-height: 73px;
    margin: 16px 0px;
  }

  .hero {
    height: 590px;
    padding: 168px 0 0 60px;
    background-image: url(./assets/img/hero-bg-small.jpg);
  }

  .hero-block h1 {

    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }

  .hero-block p {

    margin: 20px 0 0 0;
    padding: 0;
    max-width: 390px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .hero-btn{
    margin-top: 60px;
    width: 219px;
    height: 54px;

  }


  .section-title {
    margin: 80px auto 50px;
    padding: 0 20px;
    font-size: 32px;
    line-height: 40px;
  }

  .section-title::before {
    top: 20px;
  }

  .section-title.title-skills {
    margin: 100px auto 64px;
  }

  .skills-line {
    justify-content: space-around;
  }

  .skill-div {
    flex: 0 0 300px;
    margin-bottom: 40px;
  }

  .skill-name {
    margin: 30px 10px 0 10px;
  }

  .skill-descr {

    margin: 20px 10px 40px 10px;
    line-height: 22px;
  }

  .section-title.title-portfolio {
    margin-top: 96px;
    margin-bottom: 69px;
  }

  .portfolio-cat-list {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  div.video {
    margin: 0;
  }

  .video-big {
    display: none;
  }
  .video-small {
    display: inline-block;
  }

  .video-btn{
    top: 53%;
    width: 75px;
    height: 75px;
    background-image: url(./assets/svg/Play-hover-small.svg);
  }

  .section-title.title-video {
    margin-bottom: 70px;
  }


  .section-title.title-price {
    margin-top: 93px;
    margin-bottom: 70px;
  }

  .price-item {
    max-width: 420px;
    margin-bottom: 50px;
  }

  .contacts {
    margin-top: 34px;
    height: 600px;
    background-image: url(./assets/img/contacts-bg-small.jpeg);
  }

  .contacts-container {
    margin: 0 auto;
  }

  .contacts-title {
    font-size: 32px;
    line-height: 64px;
    margin: 0 auto;
  }

  .submit-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .container-footer .container {
    flex-direction: column;
  }

  .footer .container {
    padding: 28px 0;
    height: 190px;
  }

  .footer a{
    line-height: 24px;
  }

}

@media (max-width: 620px) {
  .top-nav {
    width: 100%;
    right: -100%;
  }
}


.show-menu {
  right: 0;
}

